a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    font-weight: 400;
}

button {
    background-color: transparent;
}

address {
    font-weight: inherit;
    font-style: normal;
}

body, button, input, select, textarea {
    font-family: Pretendard;
}
li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
a, button {
    outline: none;
}
body, button, input, select, textarea {
    font-family: Pretendard;
}

#page-container{
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}
/*헤더*/
.web-header{
    transition: top .25s;
    width: 100%;
}

.web-header .web-header-simple {
    display: block;
    position: relative;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    width: 100%;
}
.web-header .header-wrapper .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
}
.web-header .web-header-simple .wadiz-logo {
    display: inline-block;
    position: static;
}
.web-header .wadiz-logo {
    margin: 0;
    line-height: 22px;
    font-size: 32px;
}

.web-header .wadiz-logo>a {
    display: block;
    padding: 11px 0 13px;
}
.web-header .wadiz-logo>a svg {
    max-width: none;
}

.web-header .header-wrapper {
    position: relative;
    border-bottom: 1px solid #f2f4f6;
    padding: 0;
    height: 56px;
    text-align: left;
}
/*헤더*/

.account-reset-password .wz.container {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 375px;
    color: #212529;
}

.wz.container {
    position: relative;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
}

.account-reset-password .wz.container .page-header {
    padding-top: 50px;
    padding-bottom: 44px;
}

.account-reset-password .wz.container .page-header h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.33;
}

.account-reset-password .wz.container .page-header .desc {
    margin-top: 16px;
    color: #495057;
}

.account-reset-password .wz.container .page-body .label {
    line-height: 24px;
}
.account-reset-password .wz.container .page-body .text-field {
    position: relative;
}

.account-reset-password .wz.container .page-body .text-field .input-text {
    margin: 4px 0;
    padding: 0 16px;
    width: 100%;
    height: 48px;
    border: 1px solid #dde2e6;
    border-radius: 3px;
    line-height: 48px;
    font-size: 17px;
    outline: none;
}

.account-reset-password .wz.container .page-body .btn-wrap {
    margin-top: 36px;
}

.account-reset-password .wz.container .page-body .wz.button {
    height: 56px;
}

.wz.button.primary {
    background-color: #6B95FC;
    color: #fff;
    border-color: #6B95FC;
}
.wz.button.block {
    width: 100%;
    text-align: center;
}

.wz.button {
    display: inline-block;
    text-decoration: none;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    cursor: pointer;
    padding: 0.07em 1.4117647059em;
    vertical-align: middle;
    line-height: 1;
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box !important;
    -webkit-appearance: none;
}

#ppassword, #ppasswordcheck {
    font-size: 13px;
    color: #f66;
}

/* active */
.account-reset-password .wz.container .page-body .text-field .input-text {
    transition-property: border-color, background-color, color;
    transition-duration: 0.15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 3px;
    background-color: #fff;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    color: #212529;
    box-sizing: border-box;
    line-height: 28px;
    letter-spacing: -0.3px;
    font-size: 16px;
    font-weight: 400;
}

.account-reset-password .wz.container .page-body .text-field .input-text:hover {
    border-color: #4874e1;
}

.account-reset-password
.wz.container
.page-body
.text-field
.input-text::-webkit-input-placeholder {
    color: #adb5bd;
}

.wz.button.primary:hover {
    border-color: #4874e1;
    background-color: #4874e1;
}