<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.tikkeul.app.domain.vo.AnswerVO" alias="answer"/>
        <typeAlias type="com.tikkeul.app.domain.vo.DoranBoardVO" alias="doranBoard"/>
        <typeAlias type="com.tikkeul.app.domain.vo.DoranCommentVO" alias="doranComment"/>
        <typeAlias type="com.tikkeul.app.domain.vo.DoranFileVO" alias="doranFile"/>
        <typeAlias type="com.tikkeul.app.domain.vo.FileVO" alias="file"/>
        <typeAlias type="com.tikkeul.app.domain.vo.InquiryBoardVO" alias="inquiryBaord"/>
        <typeAlias type="com.tikkeul.app.domain.vo.ItemFileVO" alias="itemFile"/>
        <typeAlias type="com.tikkeul.app.domain.vo.ItemVO" alias="item"/>
        <typeAlias type="com.tikkeul.app.domain.vo.LikeVO" alias="like"/>
        <typeAlias type="com.tikkeul.app.domain.vo.OrderVO" alias="order"/>
        <typeAlias type="com.tikkeul.app.domain.vo.ReviewVO" alias="review"/>
        <typeAlias type="com.tikkeul.app.domain.vo.SavingLevelVO" alias="savingLevel"/>
        <typeAlias type="com.tikkeul.app.domain.vo.SavingVO" alias="saving"/>
        <typeAlias type="com.tikkeul.app.domain.vo.UserVO" alias="user"/>
    </typeAliases>
</configuration>