<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원목록</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin-member-modify.css">
</head>
<body>
<main>
    <div class="sidebar sidebar-main">
        <div class="logo-container">
            <img src="/image/Logo.png" class="admin-logo">
        </div>
        <nav class="nav">
            <ul class="side-menu">
                <li class="site-shortcut">
                    <input type="button" class="side-menu-button" value="사이트 바로가기"
                           onclick="location.href='../mypage/main.html'">
                </li>
                <div class="management-title">사이트 관리</div>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="메인페이지"
                           onclick="location.href='admin-main.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="회원목록"
                           onclick="location.href='admin-member.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="프로그램목록"
                           onclick="location.href='admin-program.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="상품관리"
                           onclick="location.href='admin-product.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="신고내역"
                           onclick="location.href='admin-report.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="문의게시판목록"
                           onclick="location.href='admin-QnA.html'">
                </li>
            </ul>
        </nav>
    </div>

    <section class="management-main-content">
        <div class="management-top">
            <div class="page-name">회원수정</div>
        </div>
        <div class="modify-main">
            <div class="modify-box">
                <table class="table-contents">
                    <tr>
                        <td>회원 번호</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td>
                            <input type="text" name="" value="" class="modify-input">
                        </td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>
                            <input type="text" name="" value="" class="modify-input">
                        </td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td>
                            <input type="text" name="" value="" class="modify-input">
                        </td>
                    </tr>
                    <tr>
                        <td>나이</td>
                        <td>
                            <input type="text" name="" value="" class="modify-input">
                        </td>
                    </tr>
                    <tr>
                        <td>성별</td>
                        <td>
                            <input type="text" name="" value="" class="modify-input">
                        </td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td>
                            <input type="text" name="" value="" class="modify-input">
                        </td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td>
                            <input type="text" name="" value="" class="modify-input">
                        </td>
                    </tr>
                </table>
                <div class="button-box">
                    <input type="button" name="report-list" value="회원목록" onClick="location.href='admin-member.html'"/>
                    <input type="button" name="report-answer" value="수정완료"/>
                </div>
            </div>
    </section>
</main>
</body>
</html>
