    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>dorandetail</title>
        <link rel="stylesheet" href="../../../static/css/dorandoran/doranboard5.css">
        <link rel="stylesheet" href="../../../static/css/dorandoran/doranboard6.css">
        <link rel="stylesheet" href="../../../static/css/dorandoran/doranboard7.css">
        <link rel="stylesheet" href="../../../static/css/dorandoran/doranboard8.css">
        <link rel="stylesheet" href="../../../static/css/dorandoran/doranboard9.css">
    </head>
    <body>
    <div id="newContainer">
        <div id="wcommunityWrap">
            <div class="wcommunity-wrap">
                <div class="wcommunity-top">
                    <h2><a href="/web/wcast/main"><em class="logo_wcommunity"></em></a></h2>
                    <div id="wcastTopPC" class="wcommunity-topmenu">
                        <ul class="depth1">

                            <li><button type="button" onclick="location.href='/web/wcast/list/BRD0000011'">투자</button>
                                <ul class="depth2">
                                    <li>
                                        <dl>
                                            <dt>
                                                <p class="depth1-title">투자</p>
                                                <p class="comment">와디즈 투자에 대해 알고싶다면?</p>
                                            </dt>
                                            <dd>
                                                <ul>

                                                    <li><button type="button" onclick="searchByHeadWord('BRD0000011','19');">메이커 팁</button></li>

                                                    <li><button type="button" onclick="searchByHeadWord('BRD0000011','23');">투자자 팁</button></li>

                                                    <li><button type="button" onclick="searchByHeadWord('BRD0000011','36');">커버스토리</button></li>

                                                </ul>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </li>

                            <li><button type="button" onclick="location.href='/web/wcast/list/BRD0000013'">펀딩</button>
                                <ul class="depth2">
                                    <li>
                                        <dl>
                                            <dt>
                                                <p class="depth1-title">펀딩</p>
                                                <p class="comment">와디즈 펀딩에 대해 알고 싶다면?</p>
                                            </dt>
                                            <dd>
                                                <ul>

                                                    <li><button type="button" onclick="searchByHeadWord('BRD0000013','29');">메이커 팁</button></li>

                                                    <li><button type="button" onclick="searchByHeadWord('BRD0000013','37');">성공스토리</button></li>

                                                    <li><button type="button" onclick="searchByHeadWord('BRD0000013','30');">서포터 팁</button></li>

                                                    <li><button type="button" onclick="searchByHeadWord('BRD0000013','35');">커버스토리</button></li>

                                                </ul>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </li>

                            <li><button type="button" onclick="location.href='/web/wcast/list/BRD0000014'">와디즈 넥스트</button>
                                <ul class="depth2">
                                    <li>
                                        <dl>
                                            <dt>
                                                <p class="depth1-title">와디즈 넥스트</p>
                                                <p class="comment">와디즈 + 함께하는 사람들의 이야기를 담은 격월간 매거진</p>
                                            </dt>
                                            <dd>
                                                <ul>

                                                    <li><button type="button" onclick="searchByHeadWord('BRD0000014','39');">콘텐츠</button></li>

                                                    <li><button type="button" onclick="searchByHeadWord('BRD0000014','40');">다운받기</button></li>

                                                </ul>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </li>

                            <li><button type="button" onclick="location.href='/web/wcast/list/BRD0000012'">와디즈 뉴스</button>
                                <ul class="depth2">
                                    <li>
                                        <dl>
                                            <dt>
                                                <p class="depth1-title">와디즈 뉴스</p>
                                                <p class="comment">생생한 와디즈 내부 이야기 </p>
                                            </dt>
                                            <dd>
                                                <ul>

                                                    <li><button type="button" onclick="searchByHeadWord('BRD0000012','41');">신뢰센터</button></li>

                                                    <li><button type="button" onclick="searchByHeadWord('BRD0000012','26');">새소식</button></li>

                                                    <li><button type="button" onclick="searchByHeadWord('BRD0000012','21');">와디즈인 이야기</button></li>

                                                </ul>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div><!— //wcommunity-other-story —>

            </div><!— //wcommunity-detail-bottom —>
                </div><!-- //wcommunity-top -->
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('.new-header .gnb > li:eq(3)').addClass('menu-on');
                    });
                    /* 말머리 클릭시 */
                    function searchByHeadWord(boardId, headWordId) {
                        $('#searchSelect1').val('');
                        $('#searchText1').val('');
                        $('#searchSelect5').val(boardId);
                        $('#searchSelect4').val(headWordId);
                        $('#cPage').val(1);
                        $('#formSearch').attr('action', '/web/wcast/list/' + boardId + '/' + headWordId);
                        $('#formSearch').submit();
                    }

                    /* 내가 쓴 글 검색 */
                    function searchByUserNameInViewN(userId) {
                        $('#searchSelect1').val('ui');
                        $('#searchText1').val(userId);
                        $('#searchText6').val('N');
                        $('#formSearch').attr('action', '/web/wcast/search');
                        $('#formSearch').submit();
                    }
                </script>

                <div class="wcommunity-content-wrap">
                    <div class="wcommunity-section1">
                        <div class="wcommunity-detail-info">
                            <div class="story-info">
                                <em class="category">성공스토리</em>
                                <p class="title">[Interview] 위기를 기회로 바꾼 아이디어, 싱어송라이터 조준호</p>
                                <p class="info"><em class="editor">한지혜 (jeehye.han@wadiz.kr)</em><em class="date">21.12.01</em><em id="topSympCount" class="symp"></em></p>

                            </div>
                        </div>
                        <div class="wcommunity-detail-content">
                            <div class="inner-contents">
                                <p><br></p><p>글입력 </p>
                            </div>
                            <div class="attach-list">
                                <ul>

                                </ul>
                            </div>
                        </div>
                    </div><!-- //wcommunity-section1 -->
                    <div class="wcommunity-section2">
                        <div class="inner-wrap">

                            <div class="wcommunity-detail-editor">
                                <a href="#this" onclick="javascript:searchByUserName('jeehye.han@wadiz.kr')">
                                    <h4><em>작성자</em> 한지혜</h4>
                                    <div class="editor-info">
                                        <em class="photo" style="background-image:url(https://cdn.wadiz.kr/wwwwadiz/green001/2022/1201/20221201140951383_4411344.jpg/wadiz/resize/120x120/format/jpg/quality/80)"></em>
                                        <p class="summary">이야기의 힘으로 도전의 경계를 허무는 와디즈 콘텐츠 마케터 한지혜입니다.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="wcommunity-best-list detail">
                                <h4>한지혜님의 다른 글</h4>
                                <ol>

                                    <li><em>1</em><p class="title"><a href="/web/wcast/detail/7942">[Interview] 위기를 기회로 바꾼 아이디어, 싱어송라이터 조준호</a></p></li>

                                    <li><em>2</em><p class="title"><a href="/web/wcast/detail/7909">[Interview] 가구 브랜드 소년과 나무가 건네는 일상 속 낭만 </a></p></li>

                                    <li><em>3</em><p class="title"><a href="/web/wcast/detail/7898">[그린메이커 LIVE TALK] 초록빛 지구를 만드는 브랜드 이야기</a></p></li>

                                </ol>
                            </div>


                        </div>
                    </div><!-- //wcommunity-section2 -->
                </div><!-- //wcommunity-content-wrap -->
                <div class="wcommunity-detail-bottom">
                    <div class="wcommunity-comment-wrap">
                        <div class="wcommunity-share-area">
                            <div class="btn-share">
                                <button class="kakao" onclick="window.wadiz.share.kakao()"></button>
                                <button class="facebook" onclick="window.wadiz.share.facebook();"></button>
                                <button class="twitter" onclick="window.wadiz.share.twitter();"></button>
                            </div>
                        </div>

                        <div class="wcommunity-comment">
                            <div class="wz-message-box" style="margin-top:0">
                            </div>
                            <p class="comment-num"><em>0</em>개의 댓글이 달려있습니다.</p>
                            <div class="main-comment">
                                <textarea placeholder="댓글을 입력하세요." id="commentCnt" name="contents" style="overflow-y: hidden; height: 79px; resize: none;"></textarea>
                                <div class="btn-wrap">
                                    <button id="reply-button" type="button" class="btn-pd-blue" onclick="ajaxRegistComment()">댓글달기</button>
                                </div>
                            </div>


                            <div class="comment-box">

                                <ul id="commentList">









                                </ul>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <button type="button" id="moreComments" class="btn-pd-transp" style="display: none;">댓글 더 보기</button>
                            <button type="button" id="hideComments" class="btn-pd-transp" style="display:none;">댓글 닫기</button>
                        </div>

                </div><!-- //wcommunity-detail-bottom -->
            </div>
        </div>

    <form id="formSearch" name="formSearch" action="/web/wcast/search" method="post">
        <input id="searchText1" name="searchText1" type="hidden" value="">
        <input id="searchText6" name="searchText6" type="hidden">
        <input id="searchSelect1" name="searchSelect1" type="hidden" value="">
        <input id="searchSelect2" name="searchSelect2" type="hidden" value="">
        <input id="searchSelect4" name="searchSelect4" type="hidden" value="37">
        <input id="searchSelect5" name="searchSelect5" type="hidden" value="BRD0000013">
    </form>
</div>
    </body>
    </html>
