<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도란도란</title>
    <link rel="stylesheet" href="/css/dorandoran/doranboard.css">
    <link rel="stylesheet" href="/css/dorandoran/doranboard1.css">
    <link rel="stylesheet" href="/css/dorandoran/doranboard2.css">
    <link rel="stylesheet" href="/css/dorandoran/doranboard3.css">
    <link rel="stylesheet" href="/css/dorandoran/doranboard4.css">
</head>
<body>
    <div class="wcommunity-wrap">
        <div class="wcommunity-top">
            <h2><a href="/web/wcast/main"><em class="logo_wcommunity"></em></a></h2>
<!--            <div id="wcastTopPC" class="wcommunity-topmenu">-->
<!--                <ul class="depth1">-->

<!--                    <li><button type="button" onclick="location.href='/web/wcast/list/BRD0000011'">투자</button>-->
<!--                        <ul class="depth2">-->
<!--                            <li>-->
<!--                                <dl>-->
<!--                                    <dt>-->
<!--                                        <p class="depth1-title">투자</p>-->
<!--                                        <p class="comment">와디즈 투자에 대해 알고싶다면?</p>-->
<!--                                    </dt>-->
<!--                                    <dd>-->
<!--                                        <ul>-->

<!--                                            <li><button type="button" onclick="searchByHeadWord('BRD0000011','19');">메이커 팁</button></li>-->

<!--                                            <li><button type="button" onclick="searchByHeadWord('BRD0000011','23');">투자자 팁</button></li>-->

<!--                                            <li><button type="button" onclick="searchByHeadWord('BRD0000011','36');">커버스토리</button></li>-->

<!--                                        </ul>-->
<!--                                    </dd>-->
<!--                                </dl>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li><button type="button" onclick="location.href='/web/wcast/list/BRD0000013'">펀딩</button>-->
<!--                        <ul class="depth2">-->
<!--                            <li>-->
<!--                                <dl>-->
<!--                                    <dt>-->
<!--                                        <p class="depth1-title">펀딩</p>-->
<!--                                        <p class="comment">와디즈 펀딩에 대해 알고 싶다면?</p>-->
<!--                                    </dt>-->
<!--                                    <dd>-->
<!--                                        <ul>-->

<!--                                            <li><button type="button" onclick="searchByHeadWord('BRD0000013','29');">메이커 팁</button></li>-->

<!--                                            <li><button type="button" onclick="searchByHeadWord('BRD0000013','37');">성공스토리</button></li>-->

<!--                                            <li><button type="button" onclick="searchByHeadWord('BRD0000013','30');">서포터 팁</button></li>-->

<!--                                            <li><button type="button" onclick="searchByHeadWord('BRD0000013','35');">커버스토리</button></li>-->

<!--                                        </ul>-->
<!--                                    </dd>-->
<!--                                </dl>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li><button type="button" onclick="location.href='/web/wcast/list/BRD0000014'">와디즈 넥스트</button>-->
<!--                        <ul class="depth2">-->
<!--                            <li>-->
<!--                                <dl>-->
<!--                                    <dt>-->
<!--                                        <p class="depth1-title">와디즈 넥스트</p>-->
<!--                                        <p class="comment">와디즈 + 함께하는 사람들의 이야기를 담은 격월간 매거진</p>-->
<!--                                    </dt>-->
<!--                                    <dd>-->
<!--                                        <ul>-->

<!--                                            <li><button type="button" onclick="searchByHeadWord('BRD0000014','39');">콘텐츠</button></li>-->

<!--                                            <li><button type="button" onclick="searchByHeadWord('BRD0000014','40');">다운받기</button></li>-->

<!--                                        </ul>-->
<!--                                    </dd>-->
<!--                                </dl>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li><button type="button" onclick="location.href='/web/wcast/list/BRD0000012'">도란도란 리스트</button>-->
<!--                        <ul class="depth2">-->
<!--                            <li>-->
<!--                                <dl>-->
<!--                                    <dt>-->
<!--                                        <p class="depth1-title">도란도란 리스트</p>-->
<!--                                        <p class="comment">생생한 와디즈 내부 이야기 </p>-->
<!--                                    </dt>-->
<!--                                    <dd>-->
<!--                                        <ul>-->

<!--                                            <li><button type="button" onclick="searchByHeadWord('BRD0000012','41');">새싹</button></li>-->

<!--                                            <li><button type="button" onclick="searchByHeadWord('BRD0000012','26');">새소식</button></li>-->

<!--                                            <li><button type="button" onclick="searchByHeadWord('BRD0000012','21');">자유 이야기</button></li>-->

<!--                                        </ul>-->
<!--                                    </dd>-->
<!--                                </dl>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                </ul>-->
<!--            </div>-->
        </div><!-- //wcommunity-top -->
        <script type="text/javascript">
            $(document).ready(function(){
                $('.new-header .gnb > li:eq(3)').addClass('menu-on');
            });
            /* 말머리 클릭시 */
            function searchByHeadWord(boardId, headWordId) {
                $('#searchSelect1').val('');
                $('#searchText1').val('');
                $('#searchSelect5').val(boardId);
                $('#searchSelect4').val(headWordId);
                $('#cPage').val(1);
                $('#formSearch').attr('action', '/web/wcast/list/' + boardId + '/' + headWordId);
                $('#formSearch').submit();
            }

            /* 내가 쓴 글 검색 */
            function searchByUserNameInViewN(userId) {
                $('#searchSelect1').val('ui');
                $('#searchText1').val(userId);
                $('#searchText6').val('N');
                $('#formSearch').attr('action', '/web/wcast/search');
                $('#formSearch').submit();
            }
        </script>

        <div class="wcommunity-content-wrap">
            <div class="wcommunity-section1">

                <div class="top-category-menu">
                    <h3><em>도란도란 리스트</em></h3>
<!--                    <select name="order" class="select-list">-->
                        <!--<option value="1" selected="">최신순</option>
                        <option value="2">조회순</option>
                        <option value="3">추천순</option>-->
<!--                    </select>-->
                    <div class="sub-category-list">
                        <ul>
                            <li><button type="button" onclick="location.href='/web/wcast/list/BRD0000012'">씨앗</button></li>

                            <li><button type="button" onclick="searchByHeadWord('BRD0000012', '41')">새싹</button></li>

                            <li><button type="button" onclick="searchByHeadWord('BRD0000012', '26')">새소식</button></li>

                            <li class="active"><button type="button" onclick="searchByHeadWord('BRD0000012', '21')">자유이야기</button></li>

                        </ul>
                    </div>
                </div>





                <div class="wcommunity-webzine-list">
                    <ul>

                        <li>
                            <a href="javascript:detail(8308)">
                                <div class="wcommunity-story  ">
                                    <div class="story-info">
                                        <em class="category notice-badge">공지</em>
                                        <em class="category best-badge">베스트</em>
                                        <!-- <em class="category">자유이야기</em> -->
                                        <p class="title"> 와디즈 펀딩의 시작과 끝을 전문가와 함께 하는, 파트너 서비스</p>
                                        <p class="summary">와디즈 펀딩의 시작과 끝을 전문가와 함께 할 수 있는 와디즈 파트너 서비스입니다.</p>
                                        <p class="info"><em class="editor">와디즈 파트너사업팀</em><em class="date">22.09.07</em><em class="symp"></em></p>
                                    </div>
                                    <div class="img-wrap">
                                        <div class="story-img" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2022/0913/20220913111130235_29.png/wadiz/resizecrop/420x320/format/jpg/quality/80)"></div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:detail(8247)">
                                <div class="wcommunity-story  ">
                                    <div class="story-info">
                                        <em class="category notice-badge">공지</em>
                                        <em class="category best-badge">베스트</em>
                                        <!-- <em class="category">자유이야기</em> -->
                                        <p class="title"> 누구나 믿고 맡기실 수 있도록, 깐깐하게 진행된 와디즈 공식 파트너 선발 과정 공개!</p>
                                        <p class="summary">와디즈 공식 파트너는 파트너사업팀에서 깐깐하게 선별한 전문가 그룹입니다.</p>
                                        <p class="info"><em class="editor">와디즈 파트너사업팀</em><em class="date">22.07.06</em><em class="symp"></em></p>
                                    </div>
                                    <div class="img-wrap">
                                        <div class="story-img" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2022/0706/20220706191714493_37.jpg/wadiz/resizecrop/420x320/format/jpg/quality/80)"></div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:detail(8217)">
                                <div class="wcommunity-story  ">
                                    <div class="story-info">
                                        <em class="category notice-badge">공지</em>
                                        <em class="category best-badge">베스트</em>
                                        <!-- <em class="category">자유이야기</em> -->
                                        <p class="title"> 도전하는 메이커의 든든한 팀빌더, 와디즈파트너사업팀 이야기</p>
                                        <p class="summary">와디즈 파트너사업팀은 와디즈에서 도전하는 메이커에게 ‘신뢰할 수 있는 파트너 네트워크’를 제공하고 있습니다.</p>
                                        <p class="info"><em class="editor">와디즈 파트너사업팀</em><em class="date">22.06.08</em><em class="symp"></em></p>
                                    </div>
                                    <div class="img-wrap">
                                        <div class="story-img" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2022/0609/20220609091308962_68.jpg/wadiz/resizecrop/420x320/format/jpg/quality/80)"></div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:detail(7313)">
                                <div class="wcommunity-story  ">
                                    <div class="story-info">
                                        <em class="category notice-badge">공지</em>
                                        <em class="category best-badge">베스트</em>
                                        <!-- <em class="category">자유이야기</em> -->
                                        <p class="title"> [Beyond the interview] 우리가 구축하고 있는 신뢰자본 생태계</p>
                                        <p class="summary">대기업은 할 수 없는 일, 아니 하지 않는 일</p>
                                        <p class="info"><em class="editor">손지은</em><em class="date">20.06.25</em><em class="symp"></em></p>
                                    </div>
                                    <div class="img-wrap">
                                        <div class="story-img" style="background-image:url(https://lh3.googleusercontent.com/Px3CChLd57qxDReAxSvNGORSO-9hVWKONzcWHMWTP3TYWBbOwVoKK0z3LDZ8f_tkuGzRJFYbgUhPs77thoaV9IghPAhcwtGrM2bA7B8xGxxVcVfxAXFhlYIJCFtL0iOyGytmB2Ah)"></div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:detail(7211)">
                                <div class="wcommunity-story  ">
                                    <div class="story-info">
                                        <em class="category notice-badge">공지</em>
                                        <em class="category best-badge">베스트</em>
                                        <!-- <em class="category">자유이야기</em> -->
                                        <p class="title"> 와디즈의 슬기로운 재택생활 3편 : "우리 재택 이대로"</p>
                                        <p class="summary">장기적 관점에서 미래를 준비하며 '재택근무 가이드라인'을 만든 와디즈!</p>
                                        <p class="info"><em class="editor">손지은</em><em class="date">20.04.13</em><em class="symp"></em></p>
                                    </div>
                                    <div class="img-wrap">
                                        <div class="story-img" style="background-image:url(https://static.wixstatic.com/media/4e0c34_1c0fd8190300473294cc5a45da7f9fbd~mv2.png/v1/fill/w_656,h_550,al_c,q_90/4e0c34_1c0fd8190300473294cc5a45da7f9fbd~mv2.webp)"></div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:detail(7210)">
                                <div class="wcommunity-story  ">
                                    <div class="story-info">
                                        <em class="category notice-badge">공지</em>
                                        <em class="category best-badge">베스트</em>
                                        <!-- <em class="category">자유이야기</em> -->
                                        <p class="title"> 와디즈의 슬기로운 재택생활 2편 : "재택근무에 눈을 뜨다"</p>
                                        <p class="summary">와디즈, 재택근무에 눈을 뜨다</p>
                                        <p class="info"><em class="editor">손지은</em><em class="date">20.04.13</em><em class="symp"></em></p>
                                    </div>
                                    <div class="img-wrap">
                                        <div class="story-img" style="background-image:url(https://static.wixstatic.com/media/4e0c34_6becad8fb71b40d886690b1daaf298d9~mv2.jpg/v1/fill/w_695,h_336,al_c,q_90,usm_0.66_1.00_0.01/4e0c34_6becad8fb71b40d886690b1daaf298d9~mv2.webp)"></div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:detail(7209)">
                                <div class="wcommunity-story  ">
                                    <div class="story-info">
                                        <em class="category notice-badge">공지</em>
                                        <em class="category best-badge">베스트</em>
                                        <!-- <em class="category">자유이야기</em> -->
                                        <p class="title"> 와디즈의 슬기로운 재택생활 1편 : "집이 오피스가 되다"</p>
                                        <p class="summary">와디즈, 재택근무를 만나다</p>
                                        <p class="info"><em class="editor">손지은</em><em class="date">20.04.13</em><em class="symp"></em></p>
                                    </div>
                                    <div class="img-wrap">
                                        <div class="story-img" style="background-image:url(https://static.wixstatic.com/media/4e0c34_f5a006718a844ea2bec77097b6466875~mv2.jpg/v1/fill/w_694,h_525,al_c,q_90,usm_0.66_1.00_0.01/4e0c34_f5a006718a844ea2bec77097b6466875~mv2.webp)"></div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:detail(7068)">
                                <div class="wcommunity-story  ">
                                    <div class="story-info">
                                        <em class="category notice-badge">공지</em>
                                        <em class="category best-badge">베스트</em>
                                        <!-- <em class="category">자유이야기</em> -->
                                        <p class="title"> 별이 빛나는 밤에, 와디즈 2019 송년회 </p>
                                        <p class="summary">올 한해도 무사 완주한 진국이들의 레이스를 돌아보며</p>
                                        <p class="info"><em class="editor">손지은</em><em class="date">20.01.07</em><em class="symp"></em></p>
                                    </div>
                                    <div class="img-wrap">
                                        <div class="story-img" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2020/0107/20200107114157846_81.jpg/wadiz/resizecrop/420x320/format/jpg/quality/80)"></div>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>



                <div class="wcommunity-page-list">
                    <ul>












                        <li class="active"><button type="button" onclick="movePage(1)">1</button></li>

                        <li><button type="button" onclick="movePage(2)">2</button></li>

                        <li><button type="button" onclick="movePage(3)">3</button></li>

                        <li><button type="button" onclick="movePage(4)">4</button></li>

                        <li><button type="button" onclick="movePage(5)">5</button></li>


                        <li class="next-btn"><button type="button" onclick="movePage(6)">&gt;</button></li>

                    </ul>
                </div><!-- //wcommunity-page-list -->
                <!-- 컨텐츠 없을 시 -->
                <div id="notExist" class="wcommunity-contents-none" style="display: none;">
                    <p id="notExistContents">컨텐츠를 준비중입니다.<br>조금만 기다려주세요!</p>
                    <!-- 검색 결과없을 시 -->
                    <p id="notExistResult">검색결과가 없습니다.</p>
                </div>
                <div class="wcommunity-bottom-util">
                    <div class="search-story">
                        <select id="searchSelectInBoard" class="select-list">
                            <option value="tc">제목+내용</option>
                            <option value="t">제목</option>
                            <option value="c">내용</option>
                            <option value="u">작성자</option>
                            <option value="ht">태그</option>
                        </select>
                        <div class="wcommunity-search-area">
                            <input type="text" id="searchTextInBoard" name="searchTextInBoard" value="" placeholder="도란도란 리스트 검색">
                            <button type="button" class="btn-search" onclick="searchInBoard()"></button>
                        </div>
                    </div>
                </div><!-- //wcommunity-bottom-util -->

            </div><!-- //wcommunity-section1 -->
            <div class="wcommunity-section2">
                <!--<div class="inner-wrap">

                    <div class="wcommunity-search-area sub-page">
                        <input id="searchTextInAll" name="searchTextInAll" type="text" placeholder="캐스트 검색하기">
                        <button type="button" class="btn-search" onclick="searchInAll()"></button>
                    </div>
                    <div class="wcommunity-category-info">
                        <h4>도란도란 리스트 소개</h4>
                        <p class="summary">생생한 와디즈 내부 이야기 </p>
                    </div>


                    <div id="hotTagsWrap" class="wcommunity-tag-list">
                        <h4>HOT TAGS</h4>
                        <ul>

                            <li><button type="button" onclick="searchByTag('10억');">10억</button></li>

                            <li><button type="button" onclick="searchByTag('1인창업');">1인창업</button></li>

                            <li><button type="button" onclick="searchByTag('2017년목표');">2017년목표</button></li>

                            <li><button type="button" onclick="searchByTag('21gram');">21gram</button></li>

                            <li><button type="button" onclick="searchByTag('21그램');">21그램</button></li>

                            <li><button type="button" onclick="searchByTag('Facebook으로응원하기');">Facebook으로응원하기</button></li>

                            <li><button type="button" onclick="searchByTag('Facebook지지서명');">Facebook지지서명</button></li>

                            <li><button type="button" onclick="searchByTag('Houzz');">Houzz</button></li>

                        </ul>
                    </div>

                    <div class="wcommunity-apply-area">
                        <h4>와디즈 업데이트 소식을 받아보세요!</h4>
                        <div class="input-box">
                            <input id="email" name="email" type="text" placeholder="이메일을 입력해주세요.">
                            <button type="button" onclick="checkEmail()">신청</button>
                        </div>
                        <p id="emailError" class="error-text">이메일 형식이 올바르지 않습니다.</p>
                    </div>
                    <div class="btn-wrap">
                        <a href="/web/winvest/main" class="btn-db-blue">와디즈 프로젝트 바로가기</a>
                    </div>
                </div>-->
            </div><!-- //wcommunity-section2 -->
        </div>
    </div>
</body>
</html>