<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
</head>
<link rel="stylesheet" href="/css/header/headerking.css">
<link rel="stylesheet" href="/css/Join/mainpage.css"><link rel="stylesheet" href="/css/Join/mainpage.css">

<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstcd hands-on-labs.toastui.calendar-timetableatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"/>
<body>
<div id="page-container">
    <!--헤더-->
    <div class="web-header" th:replace="~{/header/header::.web-header}" >
    </div>
    <!--헤더-->
   <div class="banner">
       <img src="/image/1.png" alt="">
   </div>
    <div class="MainWrapper_content__GZkTa">
        <div class="schoolMakerOpenArea">
            <section class="MakerAcademy_container__2dhnm">
                <a href="">
                        <span class="schoolMakerOpenfundingBox MakerAcademy_box__K7zyT">
                                <span class="schoolMakerOpenfundingBoxImages MakerAcademy_images__3NLjp"></span>
                            </span>
                    <button class="Button_button__2FuOU Button_primary__2mZni Button_text__2-UCU Button_xl__1FM1L Button_endIcon__1WriQ schoolMakerOpenfundingButton MakerAcademy_button__3_Auc" type="button">
                            <span class="Button_children__ilFun">
                                    <span>저렴하게 구매하자! 열매샵</span>
                                        <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="withIcon_icon__3VTbq Button_icon__t6yp6" aria-hidden="true">
                                            <path d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path>
                                        </svg>
                                </span>
                    </button>
                </a>
            </section>
            <section class="OpenfundingEquity_container__1uU-g">
                <a href="">
                        <span class="schoolMakerOpenfundingBox OpenfundingEquity_box__8cHHE">
                                <span class="schoolMakerOpenfundingBoxImages OpenfundingEquity_images__2eVc-"></span>
                            </span>
                    <button class="Button_button__2FuOU Button_info__2TXD6 Button_text__2-UCU Button_xl__1FM1L Button_endIcon__1WriQ schoolMakerOpenfundingButton OpenfundingEquity_button__1HA2B" type="button">
                            <span class="Button_children__ilFun">
                                    <span>다양한 저축인들의 소통창 도란도란</span>
                                    <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="withIcon_icon__3VTbq Button_icon__t6yp6" aria-hidden="true">
                                        <path d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path>
                                    </svg>
                                </span>
                    </button>
                </a>
            </section>
        </div>
        <div class="SchoolLecture_schoolContainer__3x4lG">
            <div class="SchoolLectureBar_mainLectureTop__2zPvH">
                <div class="SchoolLectureBar_mainLectureTitle__2-UO4">
                    <div class="SchoolLectureBar_innerCon__NzsvG">
                        <p class="SchoolLectureBar_thisMonth__1W1B2">
                            <strong>5</strong>
                            월
                        </p>
                        <p class="SchoolLectureBar_innerText__37ZdE">
                            티끌에서 도전가능한 저축리스트
                            <span>도전해보세요! 당신도 가능하니다 억만장자</span>
                        </p>
                    </div>
                </div>
                <div class="SchoolLectureBar_mainLectureType__3gg34">
                    <ul class="SchoolLectureBarButton_lectureBarButton__2Xsxj">
                        <li class="SchoolLectureBarButton_lectureBarLi__2shyU">
                            <a href="" class="SchoolLectureBarButton_lectureTypeAll__2VTHK">
                                <em>ALL</em>
                                <span>전체보기</span>
                            </a>
                        </li>
                        <li class="SchoolLectureBarButton_lectureBarLi__2shyU">
                            <a href="" class="SchoolLectureBarButton_lectureTypeReward__2ZJCc">
                                <em></em>
                                <span>LV.1</span>
                            </a>
                        </li>
                        <li class="SchoolLectureBarButton_lectureBarLi__2shyU">
                            <a href="" class="SchoolLectureBarButton_lectureTypeInvest___9Was">
                                <em></em>
                                <span>Lv.2</span>
                            </a>
                        </li>
                        <li class="SchoolLectureBarButton_lectureBarLi__2shyU">
                            <a href="" class="SchoolLectureBarButton_lectureTypeCombine__2TTKA">
                                <em></em>
                                <span>Lv.3</span>
                            </a>
                        </li>
<!--                        <li class="SchoolLectureBarButton_lectureBarLi__2shyU">-->
<!--                            <a href="" class="SchoolLectureBarButton_lectureTypeSpecial__8tRQe">-->
<!--                                <em></em>-->
<!--                                <span>멘토링</span>-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
            <div class="SchoolLectureListContents_mainLectureInfo__B271f">
                <div class="SchoolLectureListDesktop_mainSchoolLecture__3f2nw">
                    <div class="SchoolLectureListDesktop_schoolLecture__2EK3P">
                        <span class="SchoolLectureListDesktop_background__2Kqf_ SchoolLectureListDesktop_visible__2lI79">
                            </span>
                        <a href="">
                            <div class="SchoolLectureListDesktop_lectureCon__BhKMl">
                                <p class="SchoolLectureListDesktop_lectureType__8_hUF">
                                            <span>
                                                <i class="SchoolLectureListDesktop_reward__A5Tp2"></i>
                                                입문
                                            </span>
                                        <p class="SchoolLectureListDesktop_lectureTitle__2wTDN">
                                [온라인 Live] 크리에이터 페스티벌 온라인 설명회
                            </p>
                                <p class="SchoolLectureListDesktop_lectureSub__3soFP">
                                    2023 최대 규모 기획전과 함께해요!
                                </p>
                                <p class="SchoolLectureListDesktop_lectureInfo__1dFY_">
                                    일시 :  05월 23일(화) 오후 3시 00분 ~ 오후 4시 30분
                                    <br>
                                    장소:
                                    유튜브 라이브
                                </p>
                                <p class="SchoolLectureListDesktop_lectureNum__oypsR">
                                    <em>절찬리 모집 중!</em>
                                    <strong>
                                        95
                                        /
                                    </strong>
                                    250
                                    명
                                </p>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="SchoolLectureListDesktop_schoolLecture__2EK3P">
                        <span class="SchoolLectureListDesktop_background__2Kqf_ SchoolLectureListDesktop_visible__2lI79">
                            </span>
                        <a href="">
                            <div class="SchoolLectureListDesktop_lectureCon__BhKMl">
                                <p class="SchoolLectureListDesktop_lectureType__8_hUF">
                                            <span>
                                                <i class="SchoolLectureListDesktop_reward__A5Tp2"></i>
                                                입문
                                            </span>
                                        <p class="SchoolLectureListDesktop_lectureTitle__2wTDN">
                                [온라인 Live] 크리에이터 페스티벌 온라인 설명회
                            </p>
                                <p class="SchoolLectureListDesktop_lectureSub__3soFP">
                                    2023 최대 규모 기획전과 함께해요!
                                </p>
                                <p class="SchoolLectureListDesktop_lectureInfo__1dFY_">
                                    일시 :  05월 23일(화) 오후 3시 00분 ~ 오후 4시 30분
                                    <br>
                                    장소:
                                    유튜브 라이브
                                </p>
                                <p class="SchoolLectureListDesktop_lectureNum__oypsR">
                                    <em>절찬리 모집 중!</em>
                                    <strong>
                                        95
                                        /
                                    </strong>
                                    250
                                    명
                                </p>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="SchoolLectureListDesktop_schoolLecture__2EK3P">
                        <span class="SchoolLectureListDesktop_background__2Kqf_ SchoolLectureListDesktop_visible__2lI79">
                            </span>
                        <a href="">
                            <div class="SchoolLectureListDesktop_lectureCon__BhKMl">
                                <p class="SchoolLectureListDesktop_lectureType__8_hUF">
                                            <span>
                                                <i class="SchoolLectureListDesktop_reward__A5Tp2"></i>
                                                입문
                                            </span>
                                        <p class="SchoolLectureListDesktop_lectureTitle__2wTDN">
                                [온라인 Live] 크리에이터 페스티벌 온라인 설명회
                            </p>
                                <p class="SchoolLectureListDesktop_lectureSub__3soFP">
                                    2023 최대 규모 기획전과 함께해요!
                                </p>
                                <p class="SchoolLectureListDesktop_lectureInfo__1dFY_">
                                    일시 :  05월 23일(화) 오후 3시 00분 ~ 오후 4시 30분
                                    <br>
                                    장소:
                                    유튜브 라이브
                                </p>
                                <p class="SchoolLectureListDesktop_lectureNum__oypsR">
                                    <em>절찬리 모집 중!</em>
                                    <strong>
                                        95
                                        /
                                    </strong>
                                    250
                                    명
                                </p>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="SchoolLectureListDesktop_schoolLecture__2EK3P">
                        <span class="SchoolLectureListDesktop_background__2Kqf_ SchoolLectureListDesktop_visible__2lI79">
                            </span>
                        <a href="">
                            <div class="SchoolLectureListDesktop_lectureCon__BhKMl">
                                <p class="SchoolLectureListDesktop_lectureType__8_hUF">
                                            <span>
                                                <i class="SchoolLectureListDesktop_reward__A5Tp2"></i>
                                                입문
                                            </span>
                                        <p class="SchoolLectureListDesktop_lectureTitle__2wTDN">
                                [온라인 Live] 크리에이터 페스티벌 온라인 설명회
                            </p>
                                <p class="SchoolLectureListDesktop_lectureSub__3soFP">
                                    2023 최대 규모 기획전과 함께해요!
                                </p>
                                <p class="SchoolLectureListDesktop_lectureInfo__1dFY_">
                                    일시 :  05월 23일(화) 오후 3시 00분 ~ 오후 4시 30분
                                    <br>
                                    장소:
                                    유튜브 라이브
                                </p>
                                <p class="SchoolLectureListDesktop_lectureNum__oypsR">
                                    <em>절찬리 모집 중!</em>
                                    <strong>
                                        95
                                        /
                                    </strong>
                                    250
                                    명
                                </p>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="SchoolLectureListDesktop_schoolLecture__2EK3P">
                        <span class="SchoolLectureListDesktop_background__2Kqf_ SchoolLectureListDesktop_visible__2lI79">
                            </span>
                        <a href="">
                            <div class="SchoolLectureListDesktop_lectureCon__BhKMl">
                                <p class="SchoolLectureListDesktop_lectureType__8_hUF">
                                            <span>
                                                <i class="SchoolLectureListDesktop_reward__A5Tp2"></i>
                                                입문
                                            </span>
                                        <p class="SchoolLectureListDesktop_lectureTitle__2wTDN">
                                [온라인 Live] 크리에이터 페스티벌 온라인 설명회
                            </p>
                                <p class="SchoolLectureListDesktop_lectureSub__3soFP">
                                    2023 최대 규모 기획전과 함께해요!
                                </p>
                                <p class="SchoolLectureListDesktop_lectureInfo__1dFY_">
                                    일시 :  05월 23일(화) 오후 3시 00분 ~ 오후 4시 30분
                                    <br>
                                    장소:
                                    유튜브 라이브
                                </p>
                                <p class="SchoolLectureListDesktop_lectureNum__oypsR">
                                    <em>절찬리 모집 중!</em>
                                    <strong>
                                        95
                                        /
                                    </strong>
                                    250
                                    명
                                </p>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
               <div class="Maincalender">
                <div class="calender-wrapper">
                    <div class="calender">
                        <section>
                            <div class="calendar-box">
                                <div style="display: flex; justify-content: space-around;padding-bottom: 15px;padding-right: 30px;font-size: 23px;padding-top:40px;">
                                    <div class="calendar-button-box">
                                        <button type="button" id="calender-prev" class="btn">
                              <span class="auto-flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M15.5 5.5l-6 6.5 6 6.5L14 20l-7.5-8L14 4l1.5 1.5z" fill="#ccc"></path></svg>
                              </span>
                                        </button>
                                    </div>
                                    <div class="calendar-button-box">
                                        <button type="button" class="btn btn-padding" id="today">
                                            <!-- <p class="auto-flex">TODAY</p> -->
                                            <div style="display:flex; justify-content: center;">
                                                <h3 class="calendar-year year"></h3>
                                                <h3 class="calendar-year month"></h3>
                                            </div>
                                        </button>
                                    </div>
                                    <div>
                                        <button type="button" id="calender-next" class="btn">
                              <span class="auto-flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z" fill="#ccc"></path></svg>
                              </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="calendar"></div>
                        </section>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>
<!--   -->
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
<script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<script src="/js/Join/Diary.js"></script>
<script src="/js/header/header.js"></script>
</html>
