@font-face {
    font-family: Pretendard;
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/static/web/media/Pretendard-Regular.subset.0e570172.woff2) format("woff2"),url(https://static.wadiz.kr/static/web/media/Pretendard-Regular.subset.37eb0832.woff) format("woff"),url(https://static.wadiz.kr/static/web/media/Pretendard-Regular.subset.6e2a808d.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pretendard;
    font-weight: 500;
    font-style: normal;
    src: url(https://static.wadiz.kr/static/web/media/Pretendard-Medium.subset.201c9877.woff2) format("woff2"),url(https://static.wadiz.kr/static/web/media/Pretendard-Medium.subset.99418246.woff) format("woff"),url(https://static.wadiz.kr/static/web/media/Pretendard-Medium.subset.2277be81.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: Pretendard;
    font-weight: 700;
    font-style: normal;
    src: url(https://static.wadiz.kr/static/web/media/Pretendard-Bold.subset.0cc59186.woff2) format("woff2"),url(https://static.wadiz.kr/static/web/media/Pretendard-Bold.subset.9c1a831b.woff) format("woff"),url(https://static.wadiz.kr/static/web/media/Pretendard-Bold.subset.c8e804a9.otf) format("opentype");
    font-display: swap
}

*,:after,:before {
    box-sizing: border-box
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box
}

article,aside,figcaption,figure,footer,header,nav,section {
    display: block
}

li,ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}

canvas,img,picture,video {
    max-width: 100%
}

iframe,img,video {
    vertical-align: top
}

img,video {
    max-width: 100%;
    height: auto
}

address,cite,dfn,em,var {
    font-weight: inherit;
    font-style: normal
}

a,button {
    outline: none;
    -webkit-appearance: none
}

a {
    text-decoration: none
}

a,button {
    color: inherit
}

button {
    background-color: transparent
}

input,textarea {
    background: none
}

body,button,input,select,textarea {
    font-family: Pretendard,Apple SD Gothic Neo,Segoe UI,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,-apple-system,blinkmacsystemfont,sans-serif
}

button:not(:disabled),input:not(:disabled),input:not(:disabled)+label {
    cursor: pointer
}

input::-webkit-input-placeholder {
    color: inherit
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=text]::-ms-clear {
    display: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body,table th {
    font-weight: 400
}

body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none
}

/*# sourceMappingURL=wui.css?c542abcf.map */
.content{
    font-size: 16px;
}
.active{
    text-align: right;
}
.change{
    margin-right: 10px;
}
section.content-container {
    flex-grow: 1 !important;
}
.profile {
    display: flex;
    align-items: center;
}

.profile > div {
    align-items: center;
    display: flex;
}
section#reply-write-wrap div.profile {
    margin-bottom: 15px;
}
div.write-profile {
    justify-content: flex-end;
}
.writer {
    margin-left: 5px;
    font-weight: 400;
    color: rgb(126, 128, 130);
}
.title {
    font-weight: 400;
    margin: 8px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#detail-title h2{
    font-size: 32px;
}
section#detail-title {
    margin-top: 64px;
}
#replies-wrap h4.title {
    font-size: 14px;
}
section.reply-update-wrap {
    display: none;
    width: 50%;
    padding: 64px 0px;
}

section.reply-update-wrap {
    padding: 10px 0;
}

section.reply-update-wrap .button-wrap{
    display: flex;
}

section#reply-write-wrap button, section.reply-update-wrap button {
    cursor: pointer;
    margin-top: 24px;
    border-radius: 4px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 11px 24px 13px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: rgb(24, 26, 28);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

section#reply-write-wrap textarea , section.reply-update-wrap textarea{
    width: 100%;
    padding-bottom: 15px;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    margin: 0;
    outline: none;
    resize: none;
    overflow: hidden;
    border: none;
    border-bottom: 3px solid rgb(235 124 120);
}
.button-wrap button:hover {
    background-color: #F3F5F7;
}
section.reply-update-wrap .button-wrap{
    display: flex;
}
.date {
    font-weight: 200;
}
a.update, a.delete {
    color: rgb(235 124 120);
}
section.reply-update-wrap {
    display: none;
    width: 50%;
    padding: 64px 0px;
}
section.reply-update-wrap {
    padding: 10px 0;
}
section.reply-update-wrap .button-wrap{
    display: flex;
}
section#reply-write-wrap textarea , section.reply-update-wrap textarea{
    width: 100%;
    padding-bottom: 15px;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    margin: 0;
    outline: none;
    resize: none;
    overflow: hidden;
    border: none;
    border-bottom: 3px solid rgb(235 124 120);
}
span.update, span.delete {
    color: rgb(235 124 120);
    cursor: pointer;
}