<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로그램목록</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin-program.css">
</head>


<body>
<main>
    <div class="sidebar">
        <div class="logo-container">
            <img src="/image/Logo.png" class="admin-logo">
        </div>
        <nav class="nav">
            <ul class="side-menu">
                <li class="site-shortcut">
                    <input type="button" class="side-menu-button" value="사이트 바로가기"
                           onclick="location.href='../mypage/main.html'">
                </li>
                <div class="management-title">사이트 관리</div>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="메인페이지"
                           onclick="location.href='admin-main.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="회원목록"
                           onclick="location.href='admin-member.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="프로그램목록"
                           onclick="location.href='admin-program.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="상품관리"
                           onclick="location.href='admin-product.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="신고내역"
                           onclick="location.href='admin-report.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="문의게시판목록"
                           onclick="location.href='admin-QnA.html'">
                </li>
            </ul>
        </nav>
    </div>

    <section class="management-main-content">
        <div class="management-top">
            <div class="page-name">프로그램목록</div>
        </div>

        <div class="program-main">

            <div class="program-box">

                <div class="search-container">
                    <select>
                        <option value="content">프로그램명</option>
                        <option value="name">번호</option>
                        <option value="id">레벨</option>
                    </select> <input type="text" name="search" id="search"/>
                    <input
                            type="image" class="search"
                            src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png"/>
                    <div>
                        <input type="button" class="registration" name="registration" value="등록"
                               onclick="location.href='admin-program-registration.html'"/>
                        <input type="button" class="delete" id="delete-button" name="delete" value="삭제"/>
                    </div>
                </div>

                <div class="table-content">
                    <table>
                        <tr>
                            <th><input type="checkbox" class="all"/></th>
                            <th>번호</th>
                            <th>레벨</th>
                            <th>프로그램명</th>
                            <th>상세설명</th>
                            <th>인원수</th>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>
                        <tr onclick="location.href='admin-program-detail.html'">
                            <td onclick="event.cancelBubble=true" style="cursor: default">
                                <input type="checkbox" name="table-row" class="term"/>
                            </td>
                            <td>11</td>
                            <td>1</td>
                            <td>lv.1</td>
                            <td></td>
                            <td>30</td>
                        </tr>

                    </table>
                    <p class="pages">
                        < 1 2 3 4 5 >
                    </p>

                </div>
            </div>

    </section>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/admin/checkbox.js"></script>
<script src="/js/admin/delete-button.js"></script>
</script>
</html>
