a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    font-weight: 400;
}

button {
    background-color: transparent;
}

address {
    font-weight: inherit;
    font-style: normal;
}

body, button, input, select, textarea {
    font-family: 'Pretendard';
}
li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
a, button {
    outline: none;
}
body, button, input, select, textarea {
    font-family: Pretendard;
}


input::placeholder {
    color: #adb5bd;
}

#page-container{
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

.web-header{
    transition: top .25s;
    width: 100%;
}

.web-header .web-header-simple {
    display: block;
    position: relative;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    width: 100%;
}
.web-header .header-wrapper .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
}
.web-header .web-header-simple .wadiz-logo {
    display: inline-block;
    position: static;
}
.web-header .wadiz-logo {
    margin: 0;
    line-height: 22px;
    font-size: 32px;
}

.web-header .wadiz-logo>a {
    display: block;
    padding: 11px 0 13px;
}
.web-header .wadiz-logo>a svg {
    max-width: none;
}
.web-header .web-header-simple .header-container .gnb-large {
    position: absolute;
    right: 80px;
    left: auto;
    color: #495057;
}


.web-header .gnb-large {
    bottom: 0;
    z-index: 1;
    padding: 0;
    list-style: none;
    vertical-align: top;
}
.web-header .gnb-large li {
    float: left;
    width: auto;
    margin-bottom: 15px;
}
.web-header .web-header-simple .header-container .gnb-large .item {
    margin-left: 16px;
    padding: 0;
}

.web-header .gnb-large .item {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #495057;
}
.web-header .web-header-simple .header-container .gnb-large .item span {
    font-size: 15px;
    font-weight: 400;
}
.web-header .gnb-large .item span {
    display: block;
}

.web-header .header-wrapper {
    position: relative;
    border-bottom: 1px solid #f2f4f6;
    padding: 0;
    height: 56px;
    text-align: left;
}

.account-find .page-header .text.display1 {
    padding-top: 56px;
    padding-bottom: 36px;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    color: #000;
}
h2.text.display1 {
    line-height: 40px;
    font-size: 32px;
    letter-spacing: -0.6px;
    font-weight: 700;
}

.account-find .page-header .tab-list {
    position: relative;
    top: 0;
    left: 0;
    transition-property: background-color,-webkit-backdrop-filter,backdrop-filter;
    transition-duration: .5s;
    z-index: 100;
    box-shadow: 0 1px #00000014;
    background: #fff;
    width: 100%;
}

.account-find .page-header .tab-list ul {
    padding: 0 16px;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    color: #000;
}

.account-find .page-header .tab-list li.active {
    border-bottom: 2px solid #6B95FC;
    height: 47px;
    margin-right: 24px;
    width: auto;
    float: left;
}

.account-find .page-header .tab-list li.active a {
    color: #6B95FC;
}

.account-find .page-header .tab-list a {
    display: block;
    width: 100%;
    height: 47px;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    color: #90949c;
    font-size: 15px;
}

.account-find .page-header .tab-list li {
    margin-right: 24px;
    width: auto;
    float: left;
}

.account-find .page-header .tab-list ul:after {
    display: block;
    clear: both;
    content: "";
}

.account-find .page-body {
    background: #f5f7fa;
}

.account-find .container {
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,0);
    padding: 24px 16px 160px;
    width: 100%;
    max-width: 400px;
    color: #000;
}

.account-find .container.id-check .text.body1 {
    margin-bottom: 40px;
    color: #0000008a;
}

p.text.body1 {
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
}

.form .field {
    margin: 24px 0;
}

.input {
    display: block;
    position: relative;
    font-size: 17px;
}

.input > input {
    height: 48px;
    line-height: 1.2em;
    font-size: 17px;
    font-weight: 300;
}
.input > input {
    transition-property: border-color, height, padding-right, color;
    transition-duration: 0.2s, 0s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background: #fff;
    padding: 0 0.9411764706em;
    width: 100%;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.84);
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

.input > input:hover {
    border-color: #4874e1;
}
button:not(:disabled), input:not(:disabled), input:not(:disabled)+label {
    cursor: pointer;
}

.button.primary {
    background-color: #6B95FC;
    color: #fff;
}

.button.block, .button.fluid {
    width: 100%;
    text-align: center;
}

.button {
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    cursor: pointer;
    padding: 0 1.4117647059em;
    height: 48px;
    vertical-align: middle;
    line-height: 1;
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box !important;
    -webkit-appearance: none;
}

.web-footer.inner-utils {
    position: relative;
}

.web-footer {
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
}

.FooterMenu_container__15kue {
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
    text-align: left;
}

.FooterMenu_bar__22KhW {
    flex-direction: row;
    margin: 0 auto;
    padding: 0 80px;
    max-width: 1440px;
    display: flex;
}

.FooterMenu_bar__22KhW .FooterMenu_left__3rQKu, .FooterMenu_bar__22KhW .FooterMenu_right__28Tuu {
    width: auto;
    display: flex;
    flex-direction: row;
}

.web-footer {
    --white-68: rgba(255, 255, 255, .68);
    --black-84: rgba(0, 0, 0, .84);
    --black-54: rgba(0, 0, 0, .54);
    --pale-grey-30: rgba(240, 242, 245, .3);
    --dark: #1d2129;
    position: relative;
    background: #fff;
    padding-top: 120px;
    color: #212121;
    font-size: 12px;
    -webkit-text-size-adjust: none;
}

.FooterMenu_bar__22KhW .FooterMenu_left__3rQKu .FooterMenu_menu__3nRbk, .FooterMenu_bar__22KhW .FooterMenu_right__28Tuu .FooterMenu_menu__3nRbk {
    padding: 0 12px 0 16px;
    width: auto;
    align-items: center;
    color: #495057;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-start;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: left;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    font-weight: 500;

}

.Linker_btnMore__1PEzz {
    position: relative;
    outline: none;
}
.FooterMenu_bar__22KhW .FooterMenu_left__3rQKu .FooterMenu_menu__3nRbk svg {
    font-size: 16px;
}
.Linker_btnMore__1PEzz>.Linker_linkerIcon__1QJpf {
    display: inline-block!important;
    transform: rotate(90deg);
    animation: Linker_activeHide__1p9gT .5s forwards;
    margin-left: 4px;
    color: rgba(0,0,0,.54);
}

.withIcon_icon__djI-9 {
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.FooterMenu_bar__22KhW .FooterMenu_left__3rQKu .FooterMenu_menu__3nRbk.FooterMenu_bold__2zNg0{
    font-weight: 700;
}

.FooterMenu_bar__22KhW .FooterMenu_right__28Tuu {
    flex-wrap: nowrap;
    margin-left: auto;
    width: auto;

}

.FooterMenu_right__28Tuu {
    display: flex;
    flex-direction: row;
}

.FooterMenu_openLinkIcon__3YMFQ {
    display: inline-block;
    margin-left: 6px;
    vertical-align: text-top;
}

.FooterContainer_container__3LibG {
    padding-bottom: 0;
    padding: 0 80px;
}

.FooterContainer_container__3LibG .FooterContainer_inner__3Nket {
    flex-direction: row;
    gap: 80px;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
}

.FooterContainer_container__3LibG .FooterContainer_leftSection__2BtHF {
    padding: 40px 0 80px;
    width: 255px;
    border-bottom: 1px solid #f2f4f6;
}

.FooterContainer_container__3LibG .FooterContainer_leftSection__2BtHF .FooterContainer_title__1mcxQ {
    margin-bottom: 4px;
    line-height: 28px;
    letter-spacing: -.6px;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    color: #212529;
    display: flex;
}

.FooterContainer_container__3LibG .FooterContainer_leftSection__2BtHF .FooterContainer_title__1mcxQ:before {
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAA8UExURUdwTCUoLSEmKyEmKSElKScsLiImKiElKSElKSEmKiElKiIlKyElKiInKyIlKSIlKiImKSQqLS1AQCElKRLEMhcAAAATdFJOUwAiVJbvEoz7vm7ZSaMxdqumGwUhhJyxAAABbElEQVRIx6VW2aKEIAglcwGrafH///VW0zSh0DKXR0Q8HDYB/i/OkB8QW0/GXVtXhCHtEpDGc/M+FdJWOpY6JEGCV5A1NiliG8n+lXQJVJhPbTqVesouXNjPNy7whCJ+hqrhZ7hkzBnkLg6RO8aP3X3R8Zlgv+zWzJWZPVBd03xu2IHf88vw9p+MLOyzzIdPznk9dDBuCO0IHa+S7QGeVQB/wMCz/65EYroIsLODAFGgFjn/MQb1Aq6cZikKLLscUliYNXo5NFnQK+VZCFn5eKE+vGY/c9SFUgeDYv8CGGOuHHKSuP/CfqVJvhAn6ISWRRWSARcF9aAFPRP+UoDKtEYFKmmJ0y4YoTTeNYtoZaQ6r5KgUN6nQkIDbTEQSZAqqUW3PpX89OIQ2Po0b4XjEMjGzPZCdzItx8KZ9b7UOXVUav13czl8++PRuG8fLpR2erSycjy/LUV97dbu0WLvq2dfh+r252S49zm5lD8cD271e3tWtwAAAABJRU5ErkJggg==) no-repeat 50%/16px 16px;
    content: "";
    display: inline-block;
    margin-right: 8px;
}

.FooterContainer_container__3LibG .FooterContainer_leftSection__2BtHF .FooterContainer_buttonBlock__FQR2E .FooterContainer_directBtn__2ICcT {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 500;
    margin: 4px 0;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    text-align: left;
    color: #495057;
}

.FooterContainer_container__3LibG .FooterContainer_leftSection__2BtHF .FooterContainer_buttonBlock__FQR2E .FooterContainer_directBtn__2ICcT i {
    margin-left: 8px;
}

.FooterContainer_container__3LibG .FooterContainer_leftSection__2BtHF .FooterContainer_buttonBlock__FQR2E .FooterContainer_directBtn__2ICcT i:before {
    font-size: 20px;
}


.FooterContainer_container__3LibG .FooterContainer_leftSection__2BtHF .FooterContainer_enableTime__B19o3 {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    padding-top: 20px;
    border-top: 1px solid #f2f4f6;
    white-space: nowrap;
    color: #868e96;
}

.FooterContainer_container__3LibG .FooterContainer_leftSection__2BtHF .FooterContainer_enableTime__B19o3 dt {
    margin-bottom: 4px;
    font-weight: 700;
}

.FooterContainer_container__3LibG .FooterContainer_rightSection__2uaQk {
    padding: 40px 0 80px;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}

.FooterInfo_info__1aB0e li {
    display: inline;
    color: #495057;
}

.FooterInfo_info__1aB0e li:after {
    content: "|";
    color: #dde2e6;
    margin: 0 5px;
}
.FooterInfo_contactInfoWrap__2u2vv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.FooterInfo_contactInfoWrap__2u2vv .FooterInfo_contactInfo__sPvNn {
    margin-top: 4px;
}

.FooterInfo_info__1aB0e li:last-child:after {
    content: "";
}

.FooterInfo_copyright__802qi {
    display: inline-block;
    margin-top: 4px;
    color: #000;
    font-weight: 900;
}

.FooterContainer_container__3LibG .FooterContainer_rightSection__2uaQk .FooterContainer_infoNotice__3m1oJ {
    color: #868e96;
    margin-top: 16px;
}

#pemail{
    font-size: 13px;
    color: #f66;
}

.button.primary:hover {
    border-color: #4874e1;
    background-color: #4874e1;
}