@charset "utf-8";


.registration-main {
    padding: 160px 20px;
}

.registration-box {
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
}

.table-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #efefef;
    border-left: 1px solid #efefef;
    padding: 10px;
    width: 50%;
    height: 50px;
}

td:first-child {
    border-left: none;
    width: 10%;
}

.button-box {
    position: relative;
    margin-top: 25px;
}

.button-box input {
    background-color: white;
    position: absolute;
    right: 0;
    padding: 10px;
    width: 100px;
    border: 1px solid #cdcdcd;
}

.button-box input:first-child {
    right: 130px;
}


.registration-input {
    width: 100%;
    height: 30px;
    border: none;
}

label.attach {
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    width: 104px;
    height: 104px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6B95FC;
    margin-top: 16px;
    cursor: pointer;
}

label.attach img {
    width: 100%;
}

label.attach img.thumbnail {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

label.attach h6 {
    font-weight: 400;
}

label.attach h6.plus {
    font-size: 40px;
    font-weight: 100;
    line-height: 1em;
}

div.x {
    display: none;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background: rgba(33, 35, 41, 0.5);
    border-radius: 0px 4px;
}

div.x img {
    width: 100%;
    filter: invert(0.9);
}

