@charset "utf-8";


.registration-main {
    padding: 160px 20px;
}

.registration-box {
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
}

.table-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #efefef;
    border-left: 1px solid #efefef;
    padding: 10px;
    width: 50%;
    height: 50px;
}

td:first-child {
    border-left: none;
    width: 10%;
}

.button-box {
    position: relative;
    margin-top: 25px;
}

.button-box input {
    background-color: white;
    position: absolute;
    right: 0;
    padding: 10px;
    width: 100px;
    border: 1px solid #cdcdcd;
}

.button-box input:first-child {
    right: 130px;
}


.registration-input {
    width: 100%;
    height: 30px;
    border: none;
}

.registration-detail {
    width: 100%;
    height: 200px;
    border: none;
    resize: none;
}

