@charset "utf-8";

.search-container{
    display: flex;
    width: 52%;
    height: 40px;
    justify-content: space-between;
    position: absolute;
    right: 0;
}

.request-main {
    padding-top: 80px;
}

.request-box {
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
}

#search{
    position: absolute;
    width:75%;
    height:40px;
    padding:0 22%;
    background-color:white;
    border: 1px solid #252733;
    border-radius:2px;
}

section div div select{
    width: 20%;
    height: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid #252733;
    border-radius: 2px 0 0 2px;
    z-index: 2;
}

.search{
    height:75%;
    position: absolute;
    z-index:2;
    right:26%;
    top:7%;
}

.delete {
    background-color:white;
    border:1px solid #252733;
    border-radius:2px;
    padding:10px
}



.table-content{
    position: absolute;
    width: 100%;
    height: 100%;
    position:absolute;
    top:70px;
}

table{
    background-color:white;
    width:100%;
    text-align:center;
    border-collapse: collapse;
}
td{
    border-bottom:1px solid #efefef;
    height: 2rem;
}

th{
    border-bottom: 1px solid #252733;
    height: 2rem;
}

.pages{
    padding: 30px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1rem;
}


