@charset "utf-8";

body{
    margin: 0;
    background-color: #efefef;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

div.sidebar {
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    width: 250px;
    background: #252733;
    z-index: 2;
}

div.management-top {
    height: 69px;
    background: #fff;
    border-bottom: #252733 solid 1px;
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

div.page-name {
    position: relative;
    left: 30px;
}

/* 임시 */
div.logo {
    color: #fff;

}

div.logo-container {
    padding: 24px;
    margin-bottom: 0;
    background: #252733;
    border-bottom: #fff solid 1px;
}

ul.side-menu {
    padding: 0;

}

li.management-menu-list {
    padding-left: 20px;
padding-top: 15px;
padding-bottom: 15px;

}

li.management-menu-list>a, li.site-shortcut>a{
    color: #fff;
}

div.management-title {
    margin-top: 30px;
    color: #fff;
    font-size: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

li.site-shortcut{
    padding: 20px;
}

div.management-preview-container{
    position: absolute;
    left: 250px;
    width: 1630px;
    height: 850px;
    padding: 20px;
    overflow: scroll;
}

section.management-main-content {
    padding-left: 250px;
    padding-top: 0!important;
    transition: .5s;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

div.management-preview {
    background-color: #fff;
    position: relative;
    width: 49%;
    height: 45%;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
}


.preview-title {
    margin: 15px 0 15px 15px;
    display: inline-block;
}

a.management-shortcut {
    color: #252733;
    position: absolute;
    top: 4%;
    right: 3%;
}

div.preview-top {
    border-bottom: #efefef solid 1px;
}

div.management-search-container {
    background-color: #fff;
    width: 100%;
    height: 8%;
    margin-bottom: 25px;
}

div.management-content-container {
    position: absolute;
    left: 250px;
    width: 1550px;
    height: 820px;
    padding: 60px 60px 10px;
}

div.management-list{
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 75%;
    display: inline-block;
}

div.search-inner {
    width: 80%;
    position: relative;
    margin: 0 auto;;
    top: 9px;
    right: 0%;
}

div.search-field {
    width: 95%;
    display: inline-block;
}

.search-field>input {
    color: #252733;
    font-size: 13px;
    height: 45px;
    width: 100%;
    border: 1px solid #efefef;
}

.search-field>input:focus {
    outline: none;
}

button.management-search-button{
    display: inline-block;
    /* border: 1px solid #efefef; */
    border: 0;
    position: absolute;
    top: 0;
    height: 100%;
    background: 0 0;
    font-size: 12px;
    width: 5%;
}

img.management-search-img {
    width: 25px;
    height: 25px;
}

div.management-table-body{
padding: 30px 0px 25px;
}

div.management-table{
    margin-bottom: 30px!important;
}

div.management-table-data-wrapper{
    position: relative;
    clear: both;
}

table.management-table{
    width: 100%!important;
    margin: 0 auto;
    background: transparent;
    margin-bottom: 0!important;
    box-sizing: content-box;
    text-align: center;
    border: 0;
}

th.management-table-data-header {
    height: 50px;
    border-top: #252733 solid 1px;
    border-bottom: #252733 solid 1px;
}

td.management-table-data {
    height: 45px;
    border-bottom: #efefef solid 1px;
}
