@media (min-width: 1300px)
    .css-nh5bnw {
        padding-top: 80px;
        min-width: 1097px;
    }
    .css-8y9zzg {
        padding-bottom: 10px;
    }
    .css-eskagx {
        border-bottom: 2px solid #4874e1;
        padding-bottom: 10px;
    }
    .css-1blc3e2 {
        width: 100%;
        padding: 0px;
        margin-top: 0px;
    }
    .css-1fr9cog {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
    }
    .css-ow7y2u {
        height: 58px;
    }
    .css-h8ll1l {
        padding: 0px;
        height: 20px;
        margin: 17px auto auto;
        flex-direction: row;
        max-width: 1280px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
    }
    .css-mdbjnq {
        width: auto;
    }
    .css-17u6k3b {
        padding: 0px;
    }
    .css-17n0ufa {
        padding: 0px;
        letter-spacing: -0.3px;
        font-size: 14px;
        line-height: 20px;
    }
    .css-cs7apb {
        flex-flow: row nowrap;
    }
    .css-1mhvclz {
        flex-wrap: nowrap;
    }
    .css-1o40euz {
        padding: 0px;
    }
    .css-zaxfpy {
        padding: 0px
    }
    .css-ukmjeh {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 32px 0px;
        height: 238px;
        width: 1280px;
    }
    .css-ukmjeh {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 32px 0px;
        height: 238px;
        width: 1280px;
    }
    .css-8o1b75 {
        -webkit-box-align: center;
        align-items: center;
        padding: 10px 19px;
        width: 187px;
        height: 48px;
    }
    .css-1lh1jyd {
        padding: 0px;
        width: 351px;
        height: 174px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 24px;
        margin-right: 24px;
    }
    .css-1ni2qm7 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        margin-top: 0px;
        width: 284px;
        height: 48px;
    }
    .css-1vekul3 {
        margin-top: 0px;
        width: 380px;
        height: 78px;
    }
    .css-1ozfwd6 {
        display: inline-flex;
    }
    .css-bpi3s1 {
        margin-top: 0px;
        margin-left: 0px;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px;
        width: 240px;
        height: 128px;
    }