<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/Daumyulmae/yulmaemukruk.css">


</head>
<body>
<main class="board wzui">
    <div class="ui-header">
        <h2 class="title">다음 열매는 ?</h2>
    </div>
    <div aria-hidden="true"></div>
    <div class="ui-tabs">
        <ul>
            <li class="active"><a href="#">전체</a></li>

            <li>
                <a href="#1">공지</a>
            </li>

            <li>
                <a href="#2">이벤트</a>
            </li>

            <li>
                <a href="#38">보도자료</a>
            </li>
        </ul>
    </div>

    <div class="board-main">
        <ul>
            <li>
                <a class="article" href="/web/wboard/newsBoardDetail/8459?headWordId=&amp;cPage=1">

                    <div class="info">


                        <h3 class="title">아이패드</h3>
                        <span class="author">티클</span><span class="created-at">2023.05.10</span>
                    </div>
                </a>
            </li>

            <li>
                <a class="article" href="/web/wboard/newsBoardDetail/8442?headWordId=&amp;cPage=1">

                    <div class="info">

                        <h3 class="title">
                            애플워치 8
                        </h3>
                        <span class="author">티클</span><span class="created-at">2023.04.13</span>
                    </div>
                </a>
            </li>

            <li>
                <a class="article" href="/web/wboard/newsBoardDetail/8439?headWordId=&amp;cPage=1">

                    <div class="info">


                        <h3 class="title">
                            한남더힐
                        </h3>
                        <span class="author">티클</span><span class="created-at">2023.04.10</span>
                    </div>
                </a>
            </li>

            <li>
                <a class="article" href="/web/wboard/newsBoardDetail/8403?headWordId=&amp;cPage=1">

                    <div class="info">


                        <h3 class="title">
                            람보르기니
                        </h3>
                        <span class="author">티클</span><span class="created-at">2023.01.27</span>
                    </div>
                </a>
            </li>

            <li>
                <a class="article" href="/web/wboard/newsBoardDetail/8453?headWordId=&amp;cPage=1">

                    <div class="info">


                        <h3 class="title">
                            포켓몬빵
                        </h3>
                        <span class="author">티클</span><span class="created-at">2023.04.28</span>
                    </div>
                </a>
            </li>

            <li>
                <a class="article" href="/web/wboard/newsBoardDetail/8437?headWordId=&amp;cPage=1">

                    <div class="info">


                        <h3 class="title">
                            샤인머스켓
                        </h3>
                        <span class="author">티클</span><span class="created-at">2023.04.04</span>
                    </div>
                </a>
            </li>

            <li>
                <a class="article" href="/web/wboard/newsBoardDetail/8433?headWordId=&amp;cPage=1">

                    <div class="info">


                        <h3 class="title">
                            갤럭시북
                        </h3>
                        <span class="author">티클</span><span class="created-at">2023.03.27</span>
                    </div>
                </a>
            </li>

            <li>
                <a class="article" href="/web/wboard/newsBoardDetail/8432?headWordId=&amp;cPage=1">

                    <div class="info">


                        <h3 class="title">
                            아이유 싸인
                        </h3>
                        <span class="author">티클</span><span class="created-at">2023.03.23</span>
                    </div>
                </a>
            </li>

            <li>
                <a class="article" href="/web/wboard/newsBoardDetail/8407?headWordId=&amp;cPage=1">

                    <div class="info">


                        <h3 class="title">정상식바보</h3>
                        <span class="author">티클</span><span class="created-at">2023.01.30</span>
                    </div>
                </a>
            </li>

            <li>
                <a class="article" href="/web/wboard/newsBoardDetail/8401?headWordId=&amp;cPage=1">

                    <div class="info">

                        <h3 class="title">엽떡</h3>
                        <span class="author">티클</span><span class="created-at">2023.01.20</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="board-footer">
        <div class="pagination">
            <!-- 모바일용 버튼 -->
            <button class="prev-page icon-chevron-left mobile-only" onclick="movePage(0)" disabled="">
                <span class="text-hidden">이전 목록</span>
            </button>
            <div class="page">
                <!-- 모바일용 페이지 리스트 -->
                <div class="mobile-only">
                    <span class="current-count">1</span>/<span class="total-count"
                ><span>103</span> 페이지</span
                >
                </div>

                <div class="desktop-only">
                    <!-- 데스크탑용 버튼 -->
                    <button class="prev-page icon-chevron-left" onclick="movePage(0)" disabled="">
                        <span class="text-hidden">이전 목록</span>
                    </button>

                    <!-- 데스크탑용 페이지 리스트 -->

                    <a class="current" href="#" onclick="movePage(1)">1</a>

                    <a href="#" onclick="movePage(2)">2</a>

                    <a href="#" onclick="movePage(3)">3</a>

                    <a href="#" onclick="movePage(4)">4</a>

                    <a href="#" onclick="movePage(5)">5</a>

                    <a href="#" onclick="movePage(6)">6</a>

                    <!-- 데스크탑용 버튼 -->
                    <button class="next-page icon-chevron-right" onclick="movePage(7)">
                        <span class="text-hidden">다음 목록</span>
                    </button>
                </div>
            </div>
            <!-- 모바일용 버튼 -->
            <button class="next-page icon-chevron-right mobile-only" onclick="movePage(2)">
                <span class="text-hidden">다음 목록</span>
            </button>
        </div>
        <div class="search">
            <form method="post" id="news-board-search">
                <div class="filter-container">
                    <select id="searchSelectInBoard" class="filter" name="">
                        <option value="tc">제목+내용</option>
                        <option value="t">제목</option>
                        <option value="c">내용</option>
                    </select>
                </div>
                <div class="field">
                    <label class="text-hidden" for="">검색창</label>
                    <input
                            id="searchTextInBoard"
                            name="searchTextInBoard"
                            class="search-form"
                            type="text"
                            value=""
                    />
                    <button class="btn-search dense" type="submit">검색</button>
                </div>
            </form>
            <form
                    id="formSearch"
                    name="formSearchBoard"
                    action="/web/wboard/newsBoardList/"
                    method="post"
            >
                <input id="searchText1" name="searchText1" type="hidden" value="" />
                <input id="searchSelect1" name="searchSelect1" type="hidden" value="" />
                <input id="searchSelect2" name="searchSelect2" type="hidden" value="" />
                <input id="searchSelect4" name="searchSelect4" type="hidden" value="" />
                <input id="searchSelect5" name="searchSelect5" type="hidden" value="" />
            </form>
        </div>
    </div>
    <div
            aria-hidden="true"
            style="position: relative; left: 0px; bottom: 48px; width: 100%"
    ></div>
</main>
</body>
</html>
