<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품관리</title>
    <link rel="stylesheet"  type="text/css" href="../../static/css/admin.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo-container">
            <div class="logo">로고</div>
        </div>
        <nav class="nav">
            <ul class="side-menu">
                <li class="site-shortcut">
                    <a href="">사이트 바로가기</a>
                </li>    
                <div class="management-title">사이트 관리</div>
                <li class="management-menu-list">
                    <a href="">회원목록</a>
                </li>
                <li class="management-menu-list">
                    <a href="">프로그램목록</a>
                </li>
                <li class="management-menu-list">
                    <a href="">상품관리</a>
                </li>
                <li class="management-menu-list">
                    <a href="">신고내역</a>
                </li>
                <li class="management-menu-list">
                    <a href="">다음열매게시판목록</a>
                </li>
            </ul>
        </nav>
    </div>
    <section class="management-main-content">
        <div class="management-top">
            <div class="page-name">상품관리</div>
        </div>
        <div class="management-content-container">
            <div class="management-search-container">
                <div class="search-inner">
                    <form action="">
                        <div class="search-field">
                            <input type="text" placeholder="검색어를 입력하세요">
                        </div>
                        <button type="submit" class="management-search-button">
                            <div>
                                <img src="../../static/image/search.png" alt="" class="management-search-img">
                            </div>
                        </button>
                    </form>
                </div>
            </div>
            <div class="management-list">
                <div class="management-table-body">
                    <div class="management-table">
                        <div class="management-table-data-wrapper">
                            <table class="management-table">
                                <thead>
                                <tr>
                                    <th class="management-table-data-header"></th>
                                    <th class="management-table-data-header"></th>
                                    <th class="management-table-data-header"></th>
                                    <th class="management-table-data-header"></th>
                                    <th class="management-table-data-header"></th>
                                    <th class="management-table-data-header"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                </tr>
                                <tr>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                </tr>
                                <tr>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                </tr>
                                <tr>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                </tr>
                                <tr>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                </tr>
                                <tr>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                    <td class="management-table-data"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
</html>
