<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품관리</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/admin/admin.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/admin/admin-product.css">
</head>


<body>
<div class="sidebar">
    <div class="logo-container">
        <div class="logo">로고</div>
    </div>
    <nav class="nav">
        <ul class="side-menu">
            <li class="site-shortcut">
                <input type="button" class="side-menu-button" value="사이트 바로가기">
            </li>
            <div class="management-title">사이트 관리</div>
            <li class="management-menu-list">
                <input type="button" class="side-menu-button" value="메인페이지"
                       onclick="location.href='admin-main.html'">
            </li>
            <li class="management-menu-list">
                <input type="button" class="side-menu-button" value="회원목록"
                       onclick="location.href='admin-member.html'">
            </li>
            <li class="management-menu-list">
                <input type="button" class="side-menu-button" value="프로그램목록"
                       onclick="location.href='admin-program.html'">
            </li>
            <li class="management-menu-list">
                <input type="button" class="side-menu-button" value="상품관리"
                       onclick="location.href='admin-product.html'">
            </li>
            <li class="management-menu-list">
                <input type="button" class="side-menu-button" value="신고내역"
                       onclick="location.href='admin-report.html'">
            </li>
            <li class="management-menu-list">
                <input type="button" class="side-menu-button" value="다음열매게시판목록"
                       onclick="location.href='admin-request.html'">
            </li>
        </ul>
    </nav>
</div>
<div class="management-top">
    <div class="page-name">상품관리</div>
</div>

<section class="management-main-content">

    <div class="product-main">

        <div class="product-box">

            <div class="search-container">
                <select>
                    <option value="content">상품명</option>
                    <option value="name">제목</option>
                    <option value="id">회원 ID</option>
                </select> <input type="text" name="search" id="search"/>
                <input
                        type="image" class="search"
                        src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png"/>
                <div>
                    <input type="button" class="registration" name="registration" value="등록"/>
                    <input type="button" class="delete" name="delete" value="삭제"/>
                </div>
            </div>

            <div class="table-content">
                <table>
                    <tr>
                        <th><input type="checkbox" name="delete-report" class="all"/></th>
                        <th>상품 번호</th>
                        <th>수량</th>
                        <th>레벨</th>
                        <th>상품명</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>
                <p class="pages">
                    1 2 3 4 5
                </p>

            </div>
        </div>

</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    const $all = $(".all");
    const $checkboxes = $(".term");
    $all.on("click", function () {
        $checkboxes.prop("checked", $(this).is(":checked"));
    });


    $checkboxes.on("click", function () {
        $all.prop("checked", $checkboxes.filter(":checked").length == 10);
    });


    $checkboxes.each(function (i, checkbox) {
        if (!($(checkbox).is(":checked"))) {
            $all.prop("checked", false);
        }
    });
</script>
</html>
