<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원목록</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/admin/admin.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/admin/admin-member.css">
</head>
<body>
<div class="sidebar">
    <div class="logo-container">
        <div class="logo">로고</div>
    </div>
    <nav class="nav">
        <ul class="side-menu">
            <li class="site-shortcut">
                <input type="button" class="side-menu-button" value="사이트 바로가기">
            </li>
            <div class="management-title">사이트 관리</div>
            <li class="management-menu-list">
                <input type="button" class="side-menu-button" value="메인페이지"
                       onclick="location.href='admin-main.html'">
            </li>
            <li class="management-menu-list">
                <input type="button" class="side-menu-button" value="회원목록"
                       onclick="location.href='admin-member.html'">
            </li>
            <li class="management-menu-list">
                <input type="button" class="side-menu-button" value="프로그램목록"
                       onclick="location.href='admin-program.html'">
            </li>
            <li class="management-menu-list">
                <input type="button" class="side-menu-button" value="상품관리"
                       onclick="location.href='admin-product.html'">
            </li>
            <li class="management-menu-list">
                <input type="button" class="side-menu-button" value="신고내역"
                       onclick="location.href='admin-report.html'">
            </li>
            <li class="management-menu-list">
                <input type="button" class="side-menu-button" value="다음열매게시판목록"
                       onclick="location.href='admin-request.html'">
            </li>
        </ul>
    </nav>
</div>
<div class="management-top">
    <div class="page-name">회원목록</div>
</div>

<section class="management-main-content">

    <div class="member-main">

        <div class="member-box">

            <div class="member-search-container">
                <select>
                    <option value="name">이름</option>
                    <option value="id">ID</option>
                </select> <input type="text" name="member-search" id="search"/>
                <input
                        type="image" class="member-search"
                        src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png"/>
                <div>
                    <input type="button" class="member-modify" name="modify" value="수정"/>
                    <input type="button" class="member-delete" name="delete" value="삭제"/>
                </div>

            </div>

            <div class="table-content">
                <table>
                    <tr>
                        <th><input type="checkbox" name="delete-report" class="all"/></th>
                        <th>회원 번호</th>
                        <th>이름</th>
                        <th>ID</th>
                        <th>주소</th>
                        <th>나이</th>
                        <th>성별</th>
                        <th>전화번호</th>
                        <th>이메일</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="delete-report" class="term"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>
                <p class="pages">
                    1 2 3 4 5
                </p>

            </div>
        </div>

</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    const $all = $(".all");
    const $checkboxes = $(".term");
    $all.on("click", function(){
        $checkboxes.prop("checked", $(this).is(":checked"));
    });


    $checkboxes.on("click", function(){
        $all.prop("checked", $checkboxes.filter(":checked").length == 10);
    });


    $checkboxes.each(function(i, checkbox){
        if(!($(checkbox).is(":checked"))){
            $all.prop("checked", false);
        }
    });
</script>
</html>
