<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/mypage/cancelmodal.css">
</head>
<body>
<div class="ReactModalPortal">
    <div class="ReactModal__Overlay ReactModal__Overlay--after-open ConfirmModal_overlay__9xcDs waffle__modal__overlay" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="ReactModal__Content ReactModal__Content--after-open ConfirmModal_confirmModal__1x2Tw ConfirmModal_sizeLg__KHkYl" tabindex="-1" role="dialog" aria-modal="true">
            <div class="ConfirmModal_header__gkXhb">
                <div title="주문 취소하시겠어요?" class="ConfirmModal_title__ubaBW">
                    주문 취소하시겠어요?
                </div>
            </div>
            <div class="ConfirmModal_content__3KM88 ConfirmModal_hasTitle__3rvSc">
                <div class="ConfirmModal_message__Mi2Ur">주문하신 상품을 받아 볼 수 없게 됩니다.</div>
            </div>
            <div class="ConfirmModal_footer__gfGBl">
                <div class="ConfirmModal_buttonGroup__3YCl5">
                    <button class="Button_button__2FuOU Button_text__2-UCU Button_md__46Ai- ConfirmModal_negativeButton__3VxAF" type="button">
                        <span><span class="Button_children__ilFun">닫기</span></span></button>
                    <button class="Button_button__2FuOU Button_primary__2mZni Button_text__2-UCU Button_md__46Ai- ConfirmModal_positiveButton__Fafi9" type="button">
                    <span><span class="Button_children__ilFun">주문 취소</span></span>
                </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
