<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>주문 상세보기</title>
    <link rel="stylesheet" href="../../../static/css/mypage/jumoon.css">
</head>
<body class="vsc-initialized" style="overflow: auto">
<div id="page-container">
    <main id="main-app">
        <div class="web-header">
            <div class="web-header-large">

            </div>
        </div>
        <div class="MainWrapper_content__GZkTa">
            <div class="OrderDetailPage_container__RWOmx">
                <div>
                    <div class="OrderDetailPage_inner__1PF1V">
                        <div class="OrderDetailPage_cardInfoArea__m9xa0">
                            <div class="PurchaseDetailHeaderCard_item__2Ki-i PurchaseDetailHeaderCard_normal__3VSo7">
                                <div class="PurchaseDetailHeaderCard_etcArea__2kh9o">
                                    <span>주문번호 230511-051850-0001</span><span>2023-05-11 05:19 구매</span>
                                </div>
                                <div class="PurchaseDetailHeaderCard_content__1Vhic">
                                    <div class="PurchaseDetailHeaderCard_titleArea__2fhIz">
                                        <a title="세계3대 유산균사의 특허균주 유산균 한달 9,900원 실화?"
                                           class="PurchaseDetailHeaderCard_title__2CKaX" href="/web/store/detail/1198">세계3대
                                            유산균사의 특허균주 유산균 한달 9,900원 실화?</a>
                                        <div class="PurchaseDetailHeaderCard_makerName__3MvHq">파파비오랩</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="StateMessageBox_container__1BnqE">
                            <div>
                                <span class="Badge_container__9G9PS Badge_visible__3LNXv"><span
                                        class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_md__1Ck0w Badge_primary__tTdjx Badge_tertiary__3uYKh">상품 준비 중</span></span>
                            </div>
                            <div class="StateMessageBox_messageBox__29LF7">
                                <span>메이커가 상품을 준비하고 있어요.</span><span></span>
                            </div>
                            <div class="StateMessageBox_footer__1y6oY"></div>
                        </div>

                        <div class="OrderDetailPage_buttonArea__3FU0C">
                            <div class="OrderDetailPageButton_buttonContainer__2Lla4">
                                <button class="Button_button__2FuOU Button_tertiaryGrey__3jJV7 Button_contained__2SIAT Button_lg__1Dftp OrderDetailPageButton_button__3IIXz"
                                        type="button">
                                    <span><span class="Button_children__ilFun">주문 취소</span></span>
                                </button>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="OrderDetailPage_paymentInfoHeader__qUXsa">
                                    <h3>결제 정보</h3>
                                    <p class="OrderDetailPage_printReceipt__2xe-S">영수증 출력</p>
                                </div>

                                <div class="LabelValueListContainer_container__3xnyC">
                                    <div class="LabelValueList_container__91xOp">
                                        <dl class="">
                                            <dt class="undefined"><span>상품 금액</span></dt>
                                            <dd class="LabelValueList_alignRight__37Uj6">
                                                <span title="9,900 원">9,900 원</span>
                                            </dd>
                                        </dl>
                                        <dl class="">
                                            <dt class="undefined"><span>배송비</span></dt>
                                            <dd class="LabelValueList_alignRight__37Uj6">
                            <span><div class="OrderDetailPage_supporterClubDiscount__2rOLJ">
                                <span>3,000 원</span>
                              </div></span>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="LabelValueList_container__91xOp">
                                        <dl class="LabelValueList_strong__2qLag">
                                            <dt class="undefined"><span>최종 결제 금액</span></dt>
                                            <dd class="LabelValueList_alignRight__37Uj6">
                                                <span title="12,900 원">12,900 원</span>
                                            </dd>
                                        </dl>
                                        <dl class="">
                                            <dt class="undefined"><span>결제 수단</span></dt>
                                            <dd class="LabelValueList_alignRight__37Uj6">
                                                <span title="신용(체크) 카드">신용(체크) 카드</span>
                                            </dd>
                                        </dl>
                                        <dl class="">
                                            <dt class="undefined"><span>결제 카드</span></dt>
                                            <dd class="LabelValueList_alignRight__37Uj6">
                                                <span title="KB국민 / 527289**********">KB국민 / 527289**********</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3>
                                    결제 취소 정보
                                    <div>
                                        <button type="button"
                                                class="Tooltip_button__2xpDd OrderDetailPage_button__pjgwW"
                                                aria-describedby="Tooltip_12">
                                            <span class="Tooltip_label__eKqLa"></span><span
                                                class="Tooltip_helpIconWrap__3bvP3"><svg viewBox="0 0 40 40"
                                                                                         focusable="false"
                                                                                         role="presentation"
                                                                                         class="withIcon_icon__3VTbq Tooltip_helpOutlineIcon__JkkNy"
                                                                                         aria-hidden="true">
                              <path fill="none" d="M0 0h40v40H0z"></path>
                              <path d="M20 39a19 19 0 1 1 19-19 19.06 19.06 0 0 1-19 19zm0-36a17 17 0 1 0 17 17A17 17 0 0 0 20 3z"></path>
                              <path d="M24.34 10A5.75 5.75 0 0 0 20 8.33a5.7 5.7 0 0 0-6 6h2a3.7 3.7 0 0 1 4-4 3.7 3.7 0 0 1 4 4A4.29 4.29 0 0 1 22 18l-.7.6a6.51 6.51 0 0 0-2.3 5.7h2c0-1.9 0-2.6 1.7-4.3l.6-.5a6.28 6.28 0 0 0 2.7-5.2 5.73 5.73 0 0 0-1.66-4.3zM20 26.87a1.8 1.8 0 1 0 0 3.6 1.8 1.8 0 1 0 0-3.6z"></path></svg><svg
                                                viewBox="0 0 40 40" focusable="false" role="presentation"
                                                class="withIcon_icon__3VTbq Tooltip_helpIcon__3jf9Q" aria-hidden="true">
                              <path fill="none" d="M0 0h40v40H0z"></path>
                              <path d="M20 1a19 19 0 1 0 19 19A19.06 19.06 0 0 0 20 1zm0 29.5a1.8 1.8 0 1 1 1.8-1.79 1.8 1.8 0 0 1-1.8 1.75zm6-16.13a6.28 6.28 0 0 1-2.7 5.2l-.6.5c-1.7 1.7-1.7 2.4-1.7 4.3h-2a6.51 6.51 0 0 1 2.3-5.7L22 18a4.29 4.29 0 0 0 2-3.7 3.7 3.7 0 0 0-4-4 3.7 3.7 0 0 0-4 4h-2a5.7 5.7 0 0 1 6-6 5.7 5.7 0 0 1 6 6z"></path></svg></span>
                                        </button>
                                    </div>
                                </h3>
                                <div class="LabelValueListContainer_container__3xnyC">
                                    <div class="LabelValueList_container__91xOp">
                                        <dl class="">
                                            <dt class="undefined"><span>결제 취소 일시</span></dt>
                                            <dd class="LabelValueList_alignRight__37Uj6">
                                                <span title="2023-05-11 06:15:04">2023-05-11 06:15:04</span>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="LabelValueList_container__91xOp">
                                        <dl class="LabelValueList_warning__35ihi LabelValueList_strong__2qLag">
                                            <dt class="undefined"><span>최종 결제 취소 금액</span></dt>
                                            <dd class="LabelValueList_alignRight__37Uj6">
                                                <span title="12,900 원">12,900 원</span>
                                            </dd>
                                        </dl>
                                        <dl class="">
                                            <dt class="undefined"><span>결제 수단</span></dt>
                                            <dd class="LabelValueList_alignRight__37Uj6">
                                                <span title="신용(체크) 카드">신용(체크) 카드</span>
                                            </dd>
                                        </dl>
                                        <dl class="">
                                            <dt class="undefined"><span>결제 카드</span></dt>
                                            <dd class="LabelValueList_alignRight__37Uj6">
                                                <span title="KB국민 / 527289**********">KB국민 / 527289**********</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3>배송 정보</h3>
                                <div class="LabelValueListContainer_container__3xnyC">
                                    <div class="LabelValueList_container__91xOp">
                                        <dl class="">
                                            <dt class="undefined"><span>받는 분</span></dt>
                                            <dd class="LabelValueList_alignRight__37Uj6 LabelValueList_preventEllipsis__2O0Jb">
                                                <span title="김동찬">김동찬</span>
                                            </dd>
                                        </dl>
                                        <dl class="">
                                            <dt class="undefined"><span>연락처</span></dt>
                                            <dd class="LabelValueList_alignRight__37Uj6 LabelValueList_preventEllipsis__2O0Jb">
                                                <span title="010-4537-8034">010-4537-8034</span>
                                            </dd>
                                        </dl>
                                        <dl class="">
                                            <dt class="undefined"><span>주소</span></dt>
                                            <dd class="LabelValueList_alignRight__37Uj6 LabelValueList_preventEllipsis__2O0Jb">
                                                <span title="[02831]서울 성북구 성북로4길 52 112동 102호">[02831]서울 성북구 성북로4길 52 112동 102호</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3>상품 정보</h3>
                                <div class="LabelValueListContainer_container__3xnyC">
                                    <div class="OrderCard_container__sICKL">
                                        <div class="OrderCard_content__3TN63">
                          <span class="OrderCard_title__SVEo-"
                          >포스트바이오틱스 1박스 1개월분(30캡슐)</span
                          ><span class="OrderCard_option__2tR0h">1개</span
                                        ><span class="OrderCard_price__2XsK_">9,900원</span>
                                        </div>
                                        <div class="OrderCard_thumbnailPlaceholder__JWTqc">
                                            <div class="OrderCard_thumbnail__3LNsT" style="
                              background-image: url('https://cdn2.wadiz.kr/2021/09/29/0f495ab3-c29b-4449-a36d-7ceb5ec63d01.jpg');
                            "></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3>메이커 정보</h3>
                                <div class="LabelValueListContainer_container__3xnyC">
                                    <div class="LabelValueList_container__91xOp">
                                        <dl class="">
                                            <dt class=""><span>메이커명</span></dt>
                                            <dd class="LabelValueList_alignLeft__vu8QS">
                                                <span title="파파비오랩">파파비오랩</span>
                                            </dd>
                                        </dl>
                                        <dl class="">
                                            <dt class=""><span>연락처</span></dt>
                                            <dd class="LabelValueList_alignLeft__vu8QS">
                                                <span title="07048432917">07048432917</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="OrderDetailPage_space__FUk4b"/>
                    <div class="OrderDetailPage_inner__1PF1V">
                        <div class="OrderDetailPage_messageBoxArea__4IvPw">
                            <div color="basic"
                                 class="MessageBox_messageBox__2WX5N MessageBox_basic__1zukz MessageBox_vertical__2ODEW">
                                <svg viewBox="0 0 40 40" focusable="false" role="presentation"
                                     class="withIcon_icon__3VTbq MessageBox_icon__1NYKB" aria-hidden="true">
                                    <path fill="none" d="M0 0h40v40H0z"></path>
                                    <path d="M20 1a19 19 0 1 0 19 19A19.06 19.06 0 0 0 20 1zm1 28.6h-2v-13h2zm-1-15.84A1.8 1.8 0 1 1 21.8 12a1.8 1.8 0 0 1-1.8 1.76z"></path>
                                </svg>
                                <div class="MessageBox_content__3Yza8">
                                    <p class="MessageBox_title__12hBF">주문 및 환불 시 참고해 주세요</p>
                                    <div class="MessageBox_description__2Fyxq">
                                        <ul>
                                            <li>
                                                서포터 단순 변심에 의한 교환/반품은 상품 수령 후 7일 이내에 신청할 수
                                                있습니다.(반품 배송비 서포터 부담)
                                            </li>
                                            <li>
                                                상품의 내용이 표시∙광고 내용과 다르거나 계약내용과 다르게 이행된
                                                경우에는 해당 상품 등을 수령한 날부터 3개월 이내, 그 사실을 안 날 또는
                                                알 수 있었던 날부터 30일 이내에 교환/반품을 신청할 수 있습니다.(반품
                                                배송비 메이커 부담)
                                            </li>
                                            <li>다음의 경우에는 교환/반품을 신청할 수 없습니다.</li>
                                            <ul class="OrderDetailPage_message2Depth__3fexc">
                                                <li>
                                                    서포터의 책임 있는 사유로 상품 등이 멸실 또는 훼손된 경우(다만, 상품
                                                    등의 내용을 확인하기 위하여 포장 등을 훼손한 경우는 제외함)
                                                </li>
                                                <li>
                                                    서포터의 사용 또는 일부 소비로 인하여 상품 등의 가치가 현저히 감소한
                                                    경우
                                                </li>
                                                <li>
                                                    시간의 경과에 의하여 재판매가 곤란할 정도로 상품 등의 가치가 현저히
                                                    감소한 경우
                                                </li>
                                                <li>복제 가능한 상품 등의 포장을 훼손한 경우</li>
                                                <li>
                                                    용역 또는 “문화산업진흥 기본법” 제2조 제5호의 디지털콘텐츠의 제공이
                                                    개시된 경우(다만, 가분적 용역 또는 가분적 디지털콘텐츠로 구성된 계약의
                                                    경우에는 제공이 개시되지 아니한 부분에 대하여는 제외함)
                                                </li>
                                                <li>
                                                    주문에 따라 개별적으로 생산되는 상품 등 그에 대하여 청약철회 등을
                                                    인정할 경우 메이커에게 회복할 수 없는 중대한 피해가 예상되는 경우로서,
                                                    사전에 해당 거래에 대하여 별도로 그 사실을 고지하고 서포터의
                                                    서면(전자문서를 포함)에 의한 동의를 받은 경우
                                                </li>
                                                <li>그 밖에 관련 법령에 따른 반품 제한 사유에 해당되는 경우</li>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="FloatingButtons_container__2E5Fl">
            <button type="button" class="FloatingTopButton_pageTop__2gqm9" title="위로 이동">
                <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="withIcon_icon__3VTbq"
                     aria-hidden="true">
                    <path d="M33 30l-1.4 1.4L20 19.8 8.4 31.4 7 30l13-13zm1-21H6v2h28z"></path>
                </svg>
            </button>
            <button type="button" data-ga-category="공통_최근본_UI" data-ga-action="클릭" data-ga-label=""
                    class="RecentView_container__1boAT" aria-label="최근본" style="display: none">
                <div aria-hidden="true"
                     class="RecentView_thumbnail__1lnV0 CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4 CardThumbnail_noanimation__23cSf"
                     style="
                background-image: url('https://cdn2.wadiz.kr/2021/10/01/12e4ff89-bf54-41ce-bf08-70a4f14a8c33.jpg/wadiz/resize/200/format/jpg/quality/85/');
              "></div>
            </button>
        </div>
    </main>

</div>
<div id="wadiz-app-banner"></div>

<input type="hidden" id="gaUserId" value="4536674"/>

</body>
</html>
