<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>주문내역</title>
    <link rel="stylesheet" href="/css/mypage/gumae.css">
</head>
<body class="vsc-initialized" style="overflow: auto;">
<div id="page-container">

    <div class="MainWrapper_content__GZkTa">
        <section class="OrderListPage_container__PZnPd"><h2>나의 구매</h2>

            <div class="SatisfactionFilter_container__1q2UL">
                <div class="select-menu small SatisfactionFilter_selectBox__1SsgP">
                    <div class="select-menu-hidden-input-box"><input type="text" readonly=""></div>

                    <div id="b1" class=" css-2b097c-container"><span aria-live="polite" aria-atomic="false"
                                                             aria-relevant="additions text"
                                                             class="css-7pg0cj-a11yText"></span>
                        <div class="select-menu__control css-yk16xz-control">
                            <div class="select-menu__value-container select-menu__value-container--has-value css-1hwfws3">
                                <div class="k select-menu__single-value css-1uccc91-singleValue">전체</div>
                                <input id="react-select-45-input" readonly="" tabindex="0" aria-autocomplete="list"
                                       class="css-62g3xt-dummyInput" value=""></div>
                            <div class="select-menu__indicators css-1wy0on6"><span
                                    class="select-menu__indicator-separator css-0"></span>



                                <div class=" select-menu__indicator select-menu__dropdown-indicator css-tlfecz-indicatorContainer"
                                     aria-hidden="true">
                                    <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                         class="withIcon_icon__3VTbq" aria-hidden="true">
                                        <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                    </svg>
                                </div>


                                <div class=" select-menu__indicator select-menu__dropdown-indicator css-tlfecz-indicatorContainer"
                                     aria-hidden="true" style="display: none">
                                    <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon__3VTbq"
                                         aria-hidden="true">
                                        <path d="M16 9.6L26.4 20l-1.12 1.12L16 11.84l-9.28 9.28L5.6 20 16 9.6z"></path>
                                    </svg>
                                </div>



                            </div>
                        </div>
                        <input name="filteringType" type="hidden" value="[object Object]"></div>





                    <div id="b2" class=" css-2b097c-container">
                        <!--<div class="select-menu__control select-menu__control&#45;&#45;menu-is-open css-yk16xz-control">



                            <div class="select-menu__indicators css-1wy0on6">
                                <div class="select-menu__indicator select-menu__dropdown-indicator css-tlfecz-indicatorContainer"
                                     aria-hidden="true">
                                    <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon__3VTbq"
                                         aria-hidden="true">
                                        <path d="M16 9.6L26.4 20l-1.12 1.12L16 11.84l-9.28 9.28L5.6 20 16 9.6z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>-->
                        <div class="select-menu__menu css-9g7j0m-menu" style="display: none">
                            <div class="select-menu__menu-list css-11unzgr">
                                <div class="select-menu__option select-menu__option--is-selected css-9gakcf-option"
                                     id="react-select-59-option-0" tabindex="-1">전체
                                </div>
                                <div class="select-menu__option css-yt9ioa-option" id="react-select-59-option-1" tabindex="-1">
                                    상품 준비 중
                                </div>
                                <div class="select-menu__option css-yt9ioa-option" id="react-select-59-option-2" tabindex="-1">
                                    배송 대기 중
                                </div>
                                <div class="select-menu__option css-yt9ioa-option" id="react-select-59-option-3" tabindex="-1">
                                    배송 중
                                </div>
                                <div class="select-menu__option css-yt9ioa-option" id="react-select-59-option-4" tabindex="-1">
                                    배송・수령 완료
                                </div>
                                <div class="select-menu__option css-yt9ioa-option" id="react-select-59-option-5" tabindex="-1">
                                    교환・반품 신청
                                </div>
                                <div class="select-menu__option css-yt9ioa-option" id="react-select-59-option-6" tabindex="-1">
                                    교환・반품 처리 중
                                </div>
                                <div class="select-menu__option css-yt9ioa-option" id="react-select-59-option-7" tabindex="-1">
                                    구매 확정
                                </div>
                                <div class="select-menu__option css-yt9ioa-option" id="react-select-59-option-8" tabindex="-1">
                                    취소・환불
                                </div>
                            </div>
                        </div>
                        <input name="filteringType" type="hidden" value="[object Object]"></div>






                </div>
                <div class="SatisfactionFilter_panel__2Rg9A"><label
                        class="Checkbox_checkbox__KagcU Checkbox_md__2tXmx Checkbox_labeled__2WxRV SatisfactionFilter_checkbox__LlY3Z"><input
                        type="checkbox" class="Checkbox_input__Ge9vr"><span class="Checkbox_icon__1OUUf"
                                                                            aria-hidden="true"><svg
                        viewBox="0 0 16 2" focusable="false" role="presentation"
                        class="withIcon_icon__3VTbq Checkbox_removeIcon__7dzQx" aria-hidden="true"><path
                        fill-rule="evenodd" d="M0 0h16v2H0z"></path></svg><svg viewBox="0 0 48 48" focusable="false"
                                                                               role="presentation"
                                                                               class="withIcon_icon__3VTbq Checkbox_checkIcon__2qiC_"
                                                                               aria-hidden="true"><path
                        d="M18 39.6L4.8 26.4l3.36-3.36L18 32.76l21.84-21.72 3.36 3.36z"></path></svg></span><span
                        class="Checkbox_content__3UZwe"><span>만족도 쓰기 전</span></span></label></div>
            </div>



            <ul class="CardList_container__39oS4" style="width: calc(100% - 0px);">
                <li class="CardList_itemContainer__2c_vS"
                    style="width: calc((100% - 0px) - 0.01px); margin-left: 0px; margin-right: 0px; margin-bottom: 20px;">
                    <div role="link" class="PurchaseSummaryCard_item__3LlZ3">
                        <dl class="PurchaseSummaryCard_etcArea__3Ummh">
                            <dt class="BlindText_textHidden__ovQb4">주문번호</dt>
                            <dd>230511-194440-0001</dd>
                            <dt class="BlindText_textHidden__ovQb4">주문일자</dt>
                            <dd>2023-05-11 19:45:27 구매</dd>
                        </dl>
                        <div class="PurchaseSummaryCard_content__21XLk">
                            <div class="PurchaseSummaryCard_thumbnailArea__2BT7p" aria-hidden="true">
                                <div class="PurchaseSummaryCard_thumbnailPlaceholder__3O0tl">
                                    <div aria-hidden="true"
                                         class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                         style="background-image: url(&quot;https://cdn2.wadiz.kr/2023/04/27/7444dc06-e59c-496a-bd15-774b39bbadea.jpg/wadiz/resize/200/format/jpg/quality/85/&quot;);"></div>
                                </div>
                            </div>
                            <dl class="PurchaseSummaryCard_titleArea__3qDl4">
                                <dt class="BlindText_textHidden__ovQb4">상태</dt>
                                <dd><span class="Badge_container__9G9PS Badge_visible__3LNXv"><span
                                        class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_md__1Ck0w Badge_secondary__UV-TU Badge_tertiary__3uYKh">주문 취소</span></span>
                                </dd>
                                <dt class="BlindText_textHidden__ovQb4">상품명</dt>
                                <dd title="좁은 냉장고에 쏙 들어가는 이중밀폐 이유식 얼음틀 멀티큐브"
                                    class="PurchaseSummaryCard_title__uCiz5">좁은 냉장고에 쏙 들어가는 이중밀폐 이유식 얼음틀 멀티큐브
                                </dd>
                                <dt class="BlindText_textHidden__ovQb4">메이커명</dt>
                                <dd class="PurchaseSummaryCard_description__245z_"><span
                                        class="PurchaseSummaryCard_makerName__1n7dA">와디즈 주식회사</span></dd>
                            </dl>
                        </div>
                        <div class="PurchaseSummaryCard_detailText__2GWWi" aria-hidden="true">상세보기
                            <svg viewBox="0 0 40 40" focusable="false" role="presentation"
                                 class="withIcon_icon__3VTbq PurchaseSummaryCard_arrowIcon__2WltX"
                                 aria-hidden="true">
                                <path d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="CardList_itemContainer__2c_vS"
                    style="width: calc((100% - 0px) - 0.01px); margin-left: 0px; margin-right: 0px; margin-bottom: 0px;">
                    <div role="link" class="PurchaseSummaryCard_item__3LlZ3">
                        <dl class="PurchaseSummaryCard_etcArea__3Ummh">
                            <dt class="BlindText_textHidden__ovQb4">주문번호</dt>
                            <dd>230511-051850-0001</dd>
                            <dt class="BlindText_textHidden__ovQb4">주문일자</dt>
                            <dd>2023-05-11 05:19:57 구매</dd>
                        </dl>
                        <div class="PurchaseSummaryCard_content__21XLk">
                            <div class="PurchaseSummaryCard_thumbnailArea__2BT7p" aria-hidden="true">
                                <div class="PurchaseSummaryCard_thumbnailPlaceholder__3O0tl">
                                    <div aria-hidden="true"
                                         class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                         style="background-image: url(&quot;https://cdn2.wadiz.kr/2021/10/01/12e4ff89-bf54-41ce-bf08-70a4f14a8c33.jpg/wadiz/resize/200/format/jpg/quality/85/&quot;);"></div>
                                </div>
                            </div>
                            <dl class="PurchaseSummaryCard_titleArea__3qDl4">
                                <dt class="BlindText_textHidden__ovQb4">상태</dt>
                                <dd><span class="Badge_container__9G9PS Badge_visible__3LNXv"><span
                                        class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_md__1Ck0w Badge_secondary__UV-TU Badge_tertiary__3uYKh">주문 취소</span></span>
                                </dd>
                                <dt class="BlindText_textHidden__ovQb4">상품명</dt>
                                <dd title="세계3대 유산균사의 특허균주 유산균 한달 9,900원 실화?"
                                    class="PurchaseSummaryCard_title__uCiz5">세계3대 유산균사의 특허균주 유산균 한달 9,900원 실화?
                                </dd>
                                <dt class="BlindText_textHidden__ovQb4">메이커명</dt>
                                <dd class="PurchaseSummaryCard_description__245z_"><span
                                        class="PurchaseSummaryCard_makerName__1n7dA">파파비오랩</span></dd>
                            </dl>
                        </div>
                        <div class="PurchaseSummaryCard_detailText__2GWWi" aria-hidden="true">상세보기
                            <svg viewBox="0 0 40 40" focusable="false" role="presentation"
                                 class="withIcon_icon__3VTbq PurchaseSummaryCard_arrowIcon__2WltX"
                                 aria-hidden="true">
                                <path d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
            <div></div>
        </section>

    </div>
    <div class="FloatingButtons_container__2E5Fl">
        <button type="button" class="FloatingTopButton_pageTop__2gqm9" title="위로 이동">
            <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="withIcon_icon__3VTbq"
                 aria-hidden="true">
                <path d="M33 30l-1.4 1.4L20 19.8 8.4 31.4 7 30l13-13zm1-21H6v2h28z"></path>
            </svg>
        </button>
        <button type="button" data-ga-category="공통_최근본_UI" data-ga-action="클릭" data-ga-label=""
                class="RecentView_container__1boAT" aria-label="최근본" style="display: none;">
            <div aria-hidden="true"
                 class="RecentView_thumbnail__1lnV0 CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4 CardThumbnail_noanimation__23cSf"
                 style="background-image: url(&quot;https://cdn2.wadiz.kr/2022/06/20/fe284587-b283-4edb-8bcc-2c437ceb54e0.png/wadiz/resize/200/format/jpg/quality/85/&quot;);"></div>
        </button>
    </div>
    </main>

</div>
<div id="wadiz-app-banner"></div>
<input type="hidden" id="gaUserId" value="4536674">

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../../static/js/mypage/jumoonneyuk.js"></script>
</html>
