<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>후기 내역</title>
    <link rel="stylesheet" href="../../../static/css/mypage/mypage-review.css">
</head>
<body style="">
<div id="root">
    <div id="wz-header">
        <div class="web-header">
            <div class="web-header-large">
                <header class="header-wrapper web-header-simple">
                    <div class="header-container">
                        <h1 class="wadiz-logo"><a href="/"><span class="label">와디즈</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="85" height="25" viewBox="0 0 85 25">
                                <path fill="#1D2129" fill-rule="nonzero"
                                      d="M58.49 2.23h2.11v21.29H59a1.73 1.73 0 0 1-1.62-1.16 9 9 0 0 1-10.93-.28 7.48 7.48 0 0 1-2.75-6.29 7.65 7.65 0 0 1 12.79-5.07V4.23a2 2 0 0 1 2-2zm-6.3 18.62a4.36 4.36 0 0 0 4.16-4.52 4.19 4.19 0 1 0-8.35 0 4.36 4.36 0 0 0 4.19 4.52zM42 23.52h-1.52a1.73 1.73 0 0 1-1.64-1.16 9 9 0 0 1-10.93-.28 7.48 7.48 0 0 1-2.75-6.29A7.65 7.65 0 0 1 38 10.72a2 2 0 0 1 1.9-1.79H42v14.59zm-8.41-2.67h.02a4.35 4.35 0 0 0 4.15-4.52 4.35 4.35 0 0 0-4.17-4.51 4.35 4.35 0 0 0-4.17 4.51 4.36 4.36 0 0 0 4.17 4.52zM83.47 8.94v2.11l-7.07 9.06h7.06v3.47h-13v-2.1l7.08-9.07h-6.62v-1.47a2 2 0 0 1 2-2h10.55zM65.86 7.3a2.48 2.48 0 1 1 0-4.96 2.48 2.48 0 0 1 0 4.96zM21.21 8.94h4.14l-4.86 14.59h-4.15l-3.21-9.36-3.21 9.36H5.77L.92 8.94h4.13L8 18l2.5-7.74a2 2 0 0 1 1.86-1.34h2.9l3 9.08 2.95-9.06zm42.65 14.59l-.04-12.59a2 2 0 0 1 2-2h2.11v14.59h-4.07z"></path>
                            </svg>
                        </a></h1>
                </header>
            </div>
        </div>
    </div>
    <div class="MuiBox-root css-0">
        <div class="MuiBox-root css-ldo4d5">
            <div class="MuiBox-root css-nh5bnw">
                <p class="MuiTypography-root MuiTypography-body1 css-1opn9x3">구매 후기</p>
                <div role="tabpanel" id="simple-tabpanel-0" aria-labelledby="simple-tab-0"
                     style="margin-top: 28px; width: 100%;">
                    <div class="MuiBox-root css-old1by">
                        <div class="MuiBox-root css-tor48c">
                            <div class="MuiBox-root css-18zxgs3">
                                <div class="MuiBox-root css-k008qs">
                                    <div class="MuiFormControl-root css-1ltv3yn">
                                        <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl css-1vmia02">
                                            <div tabindex="0" role="button" aria-expanded="false"
                                                 aria-haspopup="listbox" aria-label="Without label"
                                                 class="MuiSelect-select MuiSelect-outlined MuiInputBase-input MuiOutlinedInput-input css-qiwgdb">
                                                전체
                                            </div>
                                            <input aria-hidden="true" tabindex="-1"
                                                   class="MuiSelect-nativeInput css-1k3x8v3" value="">
                                            <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSelect-icon MuiSelect-iconOutlined css-1636szt"
                                                 focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                                                <path d="M7 10l5 5 5-5z"></path>
                                            </svg>
                                            <fieldset aria-hidden="true"
                                                      class="MuiOutlinedInput-notchedOutline css-igs3ac">
                                                <legend class="css-ihdtdm"><span class="notranslate">​</span></legend>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiBox-root css-k008qs" data-gtm-vis-first-on-screen-97083289_157="33693">
                                    <div class="MuiFormControl-root css-tcw4yi">
                                        <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl css-1vmia02"
                                             style="height: 40px; font-size: 14px; font-weight: 400; line-height: 20px; color: rgb(33, 37, 41); width: 110px;">
                                            <div tabindex="0" role="button" aria-expanded="false"
                                                 aria-haspopup="listbox" aria-label="Without label"
                                                 class="MuiSelect-select MuiSelect-outlined MuiInputBase-input MuiOutlinedInput-input css-qiwgdb">
                                                제목
                                            </div>
                                            <input aria-hidden="true" tabindex="-1"
                                                   class="MuiSelect-nativeInput css-1k3x8v3" value="1">
                                            <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSelect-icon MuiSelect-iconOutlined css-1636szt"
                                                 focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                                                <path d="M7 10l5 5 5-5z"></path>
                                            </svg>
                                            <fieldset aria-hidden="true"
                                                      class="MuiOutlinedInput-notchedOutline css-igs3ac">
                                                <legend class="css-ihdtdm"><span class="notranslate">​</span></legend>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <form class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 css-spt4lr">
                                        <div class="MuiBox-root css-70qvj9">
                                            <div class="MuiInputBase-root MuiInputBase-colorPrimary css-s2i14f"><input
                                                    placeholder="검색어를 입력해 주세요" type="text"
                                                    class="MuiInputBase-input css-17zd8ob" value=""></div>
                                            <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk"
                                                    tabindex="0" type="button">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M17.5198 16.7459C20.5958 13.2606 20.3576 7.96481 16.9811 4.76972C13.6045 1.57462 8.30367 1.62898 4.99337 4.89266C1.68307 8.15634 1.55352 13.4559 4.70041 16.8774C7.84729 20.2989 13.1392 20.6122 16.6678 17.5859L20.9638 21.8759L21.0058 21.9239L21.8518 21.0779L17.5198 16.7459ZM11.0698 3.59994C12.9233 3.59716 14.7106 4.28855 16.0798 5.53794C17.5393 6.86404 18.4042 8.7214 18.4798 10.6919C18.6153 13.6965 16.927 16.4867 14.2026 17.7608C11.4782 19.0349 8.25445 18.5419 6.03538 16.5117C3.8163 14.4816 3.03913 11.3144 4.06642 8.48763C5.09371 5.66089 7.72305 3.73165 10.7278 3.59994H11.0698Z"
                                                          fill="#60656A"></path>
                                                </svg>
                                                <span class="MuiTouchRipple-root css-w0pj6f"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--게시글-->
                            <div id="wrap">
                                <div style="width: 1240px; margin:auto;">
                                    <div id="bo_list" style="width:100%">
                                        <form name="fboardlist" id="fboardlist" action="./board_list_update.php"
                                              onsubmit="return fboardlist_submit(this);" method="post">
                                            <div class="tbl_head01 tbl_wrap">
                                                <table>
                                                    <caption>제품구매후기 목록</caption>
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">번호</th>
                                                        <th scope="col">제품명</th>
                                                        <th scope="col">제목</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="">
                                                        <td class="td_num2">4</td>
                                                        <td class="td_num2" style="width:150px">책상</td>
                                                        <td class="td_subject" style="padding-left:0px">
                                                            <div class="bo_tit" style="text-align:center; margin:0 auto;">
                                                                <a href="mypage-review-details.html">
                                                                    간이 책상도 겸하게
                                                                    폭이 조금 더 넓은 사이즈도 만들어 주셨으면 합니다.
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="td_num2">3</td>
                                                        <td class="td_num2" style="width:150px">책상</td>
                                                        <td class="td_subject" style="padding-left:0px">
                                                            <div class="bo_tit" style="text-align:center;">
                                                                <a href="mypage-review-details.html">
                                                                    디자인도 깔끔하고 재질도 나름 튼튼해 보입니다~ 사용감도 나쁘지 않아 좋아요^^
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="td_num2">2</td>
                                                        <td class="td_num2" style="width:150px">책상</td>
                                                        <td class="td_subject" style="padding-left:0px">
                                                            <div class="bo_tit" style="text-align:center;">
                                                                <a href="mypage-review-details.html">
                                                                    노트북도 책도 정말 사용하기 편합니다
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="td_num2">1</td>
                                                        <td class="td_num2" style="width:150px">책상</td>
                                                        <td class="td_subject" style="padding-left:0px">
                                                            <div class="bo_tit" style="text-align:center;">
                                                                <a href="mypage-review-details.html">
                                                                    노트북 거치대로 사용하고 있는데 각도조절 가능하고 편리하고 튼튼해서 좋아용~!! ❤️
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="MuiBox-root css-46b038" data-gtm-vis-first-on-screen-97083289_157="1616694">
                                <div>
                                    <button class="MuiButtonBase-root Mui-disabled MuiIconButton-root Mui-disabled MuiIconButton-sizeMedium css-1f53st9"
                                            tabindex="-1" type="button" disabled="">
                                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21 24L15 18L21 12" stroke="#868E96" stroke-width="1.2"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                    <span><button
                                            class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-6lfyiw"
                                            tabindex="0" type="button"><div class="MuiBox-root css-xni1zk">1</div><span
                                            class="MuiTouchRipple-root css-w0pj6f"></span></button></span>
                                    <button class="MuiButtonBase-root Mui-disabled MuiIconButton-root Mui-disabled MuiIconButton-sizeMedium css-yu5nod"
                                            tabindex="-1" type="button" disabled="">
                                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15 12L21 18L15 24" stroke="#868E96" stroke-width="1.2"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>