<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>후기 내역</title>
    <link rel="stylesheet" href="../../../static/css/mypage/mypage-review-change.css">
</head>
<body style="">
<div id="root">
    <div id="wz-header">
        <div class="web-header">
            <div class="web-header-large">
                <header class="header-wrapper web-header-simple">
                    <div class="header-container">
                        <h1 class="wadiz-logo"><a href="/"><span class="label">와디즈</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="85" height="25" viewBox="0 0 85 25">
                                <path fill="#1D2129" fill-rule="nonzero"
                                      d="M58.49 2.23h2.11v21.29H59a1.73 1.73 0 0 1-1.62-1.16 9 9 0 0 1-10.93-.28 7.48 7.48 0 0 1-2.75-6.29 7.65 7.65 0 0 1 12.79-5.07V4.23a2 2 0 0 1 2-2zm-6.3 18.62a4.36 4.36 0 0 0 4.16-4.52 4.19 4.19 0 1 0-8.35 0 4.36 4.36 0 0 0 4.19 4.52zM42 23.52h-1.52a1.73 1.73 0 0 1-1.64-1.16 9 9 0 0 1-10.93-.28 7.48 7.48 0 0 1-2.75-6.29A7.65 7.65 0 0 1 38 10.72a2 2 0 0 1 1.9-1.79H42v14.59zm-8.41-2.67h.02a4.35 4.35 0 0 0 4.15-4.52 4.35 4.35 0 0 0-4.17-4.51 4.35 4.35 0 0 0-4.17 4.51 4.36 4.36 0 0 0 4.17 4.52zM83.47 8.94v2.11l-7.07 9.06h7.06v3.47h-13v-2.1l7.08-9.07h-6.62v-1.47a2 2 0 0 1 2-2h10.55zM65.86 7.3a2.48 2.48 0 1 1 0-4.96 2.48 2.48 0 0 1 0 4.96zM21.21 8.94h4.14l-4.86 14.59h-4.15l-3.21-9.36-3.21 9.36H5.77L.92 8.94h4.13L8 18l2.5-7.74a2 2 0 0 1 1.86-1.34h2.9l3 9.08 2.95-9.06zm42.65 14.59l-.04-12.59a2 2 0 0 1 2-2h2.11v14.59h-4.07z"></path>
                            </svg>
                        </a></h1>
                </header>
            </div>
        </div>
    </div>
    <div class="MuiBox-root css-0">
        <div class="MuiBox-root css-ldo4d5">
            <div class="MuiBox-root css-nh5bnw">
                <p class="MuiTypography-root MuiTypography-body1 css-1opn9x3">나의 후기</p>
                <div role="tabpanel" id="simple-tabpanel-0" aria-labelledby="simple-tab-0"
                     style="margin-top: 68px; width: 100%;">
                    <main role="main">
                        <div class="container">
                            <div class="article-container" id="article-container" style=" margin: 0 auto;">
                                <article id="main-content" class="article ">
                                    <header class="article-header">
                                        <h1 title="너무 좋네요" class="article-title">너무 좋네요</h1>
                                        <strong>최보근</strong>
                                        <div class="article-author">

                                            <div class="article-meta">


                                                <ul class="meta-group">

                                                    <li class="meta-data">
                                                        <time datetime="2023-04-26T08:45:44Z" title="2023-04-26 17:45"
                                                              data-datetime="relative">16일 전
                                                        </time>
                                                    </li>
                                                    <li class="meta-data">업데이트 시간</li>

                                                </ul>
                                            </div>
                                        </div>
                                    </header>
                                    <section class="article-info">
                                        <div class="article-content">
                                            <div class="article-body"><p><span
                                                    class="wysiwyg-underline wysiwyg-font-size-large"></span></p>

                                                <p>슈퍼 얼리버드와 얼리버드는 프로젝트 오픈 후 다른 서포터님들보다 빠르게 펀딩 참여하는 서포터분들을 위해 좀 더 저렴한
                                                    가격이나 추가 구성 (리워드, 서비스 등)을 혜택으로 제공해 드리는 것을 말해요.</p>
                                                <p>같은 리워드 구성을 더 저렴한 가격으로 제공하거나, 같은 금액으로 추가 구성품을 제공해 드리는 등 다양한 방법으로 혜택을
                                                    제공해 드리고 있어요.</p>
                                            </div>

                                            <div class="article-attachments">
                                                <ul class="attachments">
                                                </ul>
                                            </div>
                                        </div>
                                    </section>
                                </article>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>