<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mytikkeulmodal</title>
</head>
<body>
<div id="wrap">
    <section class="content">
        <div class="container">
            <div class="btn-box">
                <a href="#" class="btn-open" onclick="">
                    <span>등록</span>
                </a>
            </div>
        </div>
    </section>
</div>

<div class="modal-background" onclick=""></div>
<div class="modal-wrap">
    modal sample
    <button class="modal-close" onClick="">닫기</button>
</div>
</div>
</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $('html').css({
        overflow:'hidden',
        height: 'auto'
    });
</script>
</html>