<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="/css/Join/header.css">
<body>
    <header>
        <div class="headercontainer">
            <a href="">
                <img src="/image/Logo.png" height="50px;" width="50px;"/>
            </a>
            <ul class="categories">
                <li class="categoriesList">티끌모아</li>
                <li class="categoriesList">열매샵</li>
                <li class="categoriesList">도란도란</li>
                <li class="categoriesList">다음열매는?</li>
            </ul>
            <div class="login">로그인</div>
            <div class="join">회원가입</div>
        </div>
    </header>
</div>
</body>
</html>