<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로그램목록</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin-program-detail.css">
</head>
<body>
<main>
    <div class="sidebar sidebar-main">
        <div class="logo-container">
            <img src="/image/Logo.png" class="admin-logo">
        </div>
        <nav class="nav">
            <ul class="side-menu">
                <li class="site-shortcut">
                    <input type="button" class="side-menu-button" value="사이트 바로가기"
                           onclick="location.href='/join/mainpage'">
                </li>
                <div class="management-title">사이트 관리</div>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="메인페이지"
                           onclick="location.href='/admin/main'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="회원 목록"
                           onclick="location.href='/admin/user/list'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="프로그램 목록"
                           onclick="location.href='/admin/program/list'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="상품 목록"
                           onclick="location.href='/admin/item/list'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="도란게시판 목록"
                           onclick="location.href='/admin/doranBoard/list'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="문의게시판 목록"
                           onclick="location.href='/admin/inquiry/list'">
                </li>
            </ul>
        </nav>
    </div>


    <section class="management-main-content">
        <div class="management-top">
            <div class="page-name">프로그램 상세보기</div>
        </div>

        <div class="detail-main">

            <div class="detail-box">

                <table class="table-contents">
                    <tr>
                        <td>레벨</td>
                        <td th:text="${savingLevels.name}"></td>
                    </tr>
                    <tr>
                        <td>목표 금액</td>
                        <td th:text="${savingLevels.goalMoney}"></td>
                    </tr>
                    <tr>
                        <td>일일 저축 금액</td>
                        <td th:text="${savingLevels.dailyMoney}"></td>
                    </tr>
                    <tr class="program-detail">
                        <td>썸네일 이미지</td>
                        <td>
                            <img
                                    width="150px"
                                    height="150px"
                                    sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1280px, 100vw"\
                                    class="thumbnailimage"
                            >
                        </td>
                    </tr>
                    <tr>
                        <td>내용 이미지</td>
                        <td>
                            <img
                                    width="150px"
                                    height="150px"
                                    sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1280px, 100vw"
                                    class="thumbnailimage"
                            >
                        </td>
                    </tr>
                </table>
                <div class="button-box">
                    <input type="button" name="report-list" value="프로그램목록"
                           onClick="location.href='/admin/program/list'"/>
                    <input type="button" name="report-answer" value="수정"
                           th:onclick="|location.href='@{/admin/program/modify(id=${savingLevels.id})}'|"/>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script th:inline="javascript">
    let savingLevels = [[${savingLevels}]];
    let files = [[${savingLevels.files}]]
</script>
<script src="/js/admin/detailprogram.js"></script>
</body>
</html>
