<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도란도란</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin-dorandoran-detail.css">
</head>
<body>
<main>
    <div class="sidebar">
        <div class="logo-container">
            <img src="/image/Logo.png" class="admin-logo">
        </div>
        <nav class="nav">
            <ul class="side-menu">
                <li class="site-shortcut">
                    <input type="button" class="side-menu-button" value="사이트 바로가기"
                           onclick="location.href='/join/mainpage'">
                </li>
                <div class="management-title">사이트 관리</div>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="메인페이지"
                           onclick="location.href='admin-main.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="회원목록"
                           onclick="location.href='admin-member.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="프로그램목록"
                           onclick="location.href='admin-program.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="상품관리"
                           onclick="location.href='admin-product.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="도란도란"
                           onclick="location.href='admin-dorandoran.html'">
                </li>
                <li class="management-menu-list">
                    <input type="button" class="side-menu-button" value="문의게시판목록"
                           onclick="location.href='admin-QnA.html'">
                </li>
            </ul>
        </nav>
    </div>

    <section class="management-main-content">
        <div class="management-top">
            <div class="page-name">도란도란 상세보기</div>
        </div>

        <div class="doran-main">

            <div class="doran-box">

                <table class="table-contents">
                    <tr>
                        <td>글 번호</td>
                        <td th:text="${doranBoard.id}"></td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td th:text="${doranBoard.identification}"></td>
                    </tr>
                    <tr>
                        <td>제목</td>
                        <td th:text="${doranBoard.title}"></td>
                    </tr>
                    <tr>
                        <td class="doran-content">내용</td>
                        <td class="doran-content" th:text="${doranBoard.content}"></td>
                    </tr>
                    <tr>
                        <td>작성일</td>
                        <td th:text="${doranBoard.registerDate}"></td>
                    </tr>
                    <tr>
                        <td>조회수</td>
                        <td th:text="${doranBoard.viewCount}"></td>
                    </tr>
                </table>
                <div class="button-box">
                    <input type="button" name="report-list" value="도란도란 목록"
                           onClick="location.href='/admin/doranBoard/list'"/>
                </div>


            </div>

        </div>
    </section>

</main>
</body>
<script th:inline="javascript">
    let doranBoard = [[${doranBoard}]];
    console.log(doranBoard);
</script>
</html>
