<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tikkeul.app.mapper.AdminMapper">
    <sql id="search">
        <if test="search.type != null and !search.type.equals('')">
            <trim prefix="AND(" prefixOverrides="OR" suffix=")">
                <foreach item="type" collection="search.types">
                    <trim prefix="OR">
                        <choose>
                            <when test="type=='c'.toString()">
                                INQUIRE_CONTENT LIKE '%'||#{search.keyword}||'%'
                            </when>
                            <when test="type=='n'.toString()">
                                NAME LIKE '%'||#{search.keyword}||'%'
                            </when>
                            <when test="type=='i'.toString()">
                                IDENTIFICATION LIKE '%'||#{search.keyword}||'%'
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>
    <!--   괸리자 유저 조회 -->
    <select id="adminSelectUserAll" resultType="userVO">
        SELECT ID, NAME , IDENTIFICATION, ADDRESS, PHONENUMBER
        FROM USERS
    </select>

    <!--  관리자페이지 유저 삭제  -->
    <delete id="adminDeleteUser">
        DELETE FROM USERS WHERE ID = #{id}
    </delete>

    <!--    관리자 문의 내역 전체 조회 -->
<!--
    <select id="adminSelectInquiryAll" resultType="inquiryBoardDTO">
    SELECT  I.ID, NAME, IDENTIFICATION, INQUIRE_CONTENT, INQUIRE_DATE, I.STATUS, I.USER_ID
    FROM
    (
            SELECT ROWNUM R, I.ID, NAME, IDENTIFICATION, INQUIRE_CONTENT, INQUIRE_DATE, I.STATUS, I.USER_ID
            FROM INQUIRE_BOARD I JOIN USERS U
    <![CDATA[
            ON I.USER_ID = U.ID AND ROWNUM <= #{pagination.page} * #{pagination.rowCount}
    ]]>
    <include refid="search"/>
    <![CDATA[
        ORDER BY I.ID
    ) I WHERE R > (#{pagination.page} - 1) * #{pagination.rowCount}
    ]]>
    </select>
-->

    
    <!--  관리자 문의 내역 상세 조회-->
<!--
    <select id="adminSelectInquiry" resultType="inquiryBoardDTO">
        SELECT I.ID, U.NAME, U.IDENTIFICATION, I.INQUIRE_DATE, I.INQUIRE_CONTENT
        FROM INQUIRE_BOARD I JOIN USERS U
        ON I.USER_ID = U.ID AND I.ID = #{id}
    </select>
-->

    <!-- 관리자 문의 내역 답변 달기-->
    <insert id="adminInsertAnswer">
        INSERT INTO ANSWER(ID, ANSWER_CONTENT, INQUIRE_ID)
        VALUES(SEQ_ANSWER.NEXTVAL, #{answerContent}, #{inquireId})
    </insert>

     <!--  관리자 문의 내역 총 개수  -->
    <select id="selectCountOfInquiry" resultType="_int">
        SELECT COUNT(I.ID)
        FROM INQUIRE_BOARD I JOIN USERS U
        ON I.USER_ID = U.ID
        <include refid="search"/>
    </select>

</mapper>