<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tikkeul.app.mapper.ItemMapper">
    <!--김보령 작업공간-->
    <!--열매샵 제품 목록 가져오기 : list.html-->
    <select id="selectAll" resultType="itemDTO">
        SELECT I.ID, I.NAME, PRICE, CURRENT_STOCK, ORIGIN_STOCK, STATUS, BRAND, CATEGORY, REGISTERDATE, UPDATEDATE, SAVINGLEVEL_ID, SL.NAME SAVINGLEVELNAME
        FROM SAVINGLEVEL SL JOIN ITEM I
        ON SL.ID = I.SAVINGLEVEL_ID
    </select>
    <!--열매샵 제품 상세 보기 : itemdetails.html-->
    <select id="select" resultType="itemDTO">
        SELECT I.ID, I.NAME, PRICE, CURRENT_STOCK, ORIGIN_STOCK, STATUS, BRAND, CATEGORY, REGISTERDATE, UPDATEDATE, SAVINGLEVEL_ID, SL.NAME
        FROM SAVINGLEVEL SL JOIN ITEM I
        ON I.ID = #{id}
    </select>
</mapper>
