<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tikkeul.app.mapper.ItemMapper">
    <!--김보령 작업공간-->
    <!--열매샵 제품 목록 가져오기 : list.html-->
    <select id="selectAll" resultType="itemDTO">
        SELECT I.ID, I.NAME, PRICE, CURRENT_STOCK, ORIGIN_STOCK, I.STATUS, BRAND, CATEGORY, REGISTERDATE, UPDATEDATE, I.SAVINGLEVEL_ID, SL.NAME SAVINGLEVELNAME, COUNT(DISTINCT U.ID) COUNT_OF_USER
        FROM ITEM I LEFT OUTER JOIN SAVINGLEVEL SL
        ON SL.ID = I.SAVINGLEVEL_ID
        LEFT OUTER JOIN ORDERS O
        ON O.ITEM_ID = I.ID
        LEFT OUTER JOIN USERS U
        ON O.USER_ID = U.ID
        GROUP BY I.ID, I.NAME, PRICE, CURRENT_STOCK, ORIGIN_STOCK, I.STATUS, BRAND, CATEGORY, REGISTERDATE, UPDATEDATE, I.SAVINGLEVEL_ID, SL.NAME
    </select>
    <!--열매샵 제품 상세 보기 : readDetail.html-->
    <select id="select" resultType="itemDTO">
        SELECT I.ID, I.NAME, PRICE, CURRENT_STOCK, ORIGIN_STOCK, I.STATUS, BRAND, CATEGORY, REGISTERDATE, UPDATEDATE, I.SAVINGLEVEL_ID, SL.NAME SAVINGLEVELNAME, COUNT(L.ID) COUNT_OF_LIKES,
        FROM ITEM I LEFT OUTER JOIN LIKES L
        ON I.ID = L.ITEM_ID
        LEFT OUTER JOIN USERS U
        ON U.ID = L.USER_ID
        LEFT OUTER JOIN SAVINGLEVEL SL
        ON SL.ID = I.SAVINGLEVEL_ID
        GROUP BY I.ID, I.NAME, PRICE, CURRENT_STOCK, ORIGIN_STOCK, I.STATUS, BRm,./AND, CATEGORY, REGISTERDATE, UPDATEDATE, I.SAVINGLEVEL_ID, SL.NAME
        HAVING I.ID = #{id}
    </select>


    <!--제품후기, 별점-->
    <select id="selectReview" resultType="orderDTO">
    SELECT ITEM_ID, AVG(SCORE) AVB_SCORE, COUNT(ITEM_ID) COUNT_OF_REVIES
    FROM
    (
        SELECT R.ID REVIEW_ID, CONTENT, SCORE, R.REGISTER_DATE REVIEW_DATE, ORDER_ID, I.ID ITEM_ID, I.NAME ITEM_NAME, U.NAME USER_NAME
        FROM ORDERS O JOIN USERS U
        ON O.USER_ID = U.ID JOIN ITEM I
        ON O.ITEM_ID = I.ID JOIN REVIEW R
        ON O.ID = R.ORDER_ID
    )
    GROUP BY ITEM_ID
    HAVING ITEM_ID = ${id}
    </select>



































</mapper>
