<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tikkeul.app.mapper.ItemMapper">
    <!--김보령 작업공간-->
    <!--열매샵 제품 목록 가져오기 : list.html-->
    <select id="selectAll" resultType="itemDTO">
        SELECT I.ID, I.NAME, PRICE, CURRENT_STOCK, ORIGIN_STOCK, I.STATUS, BRAND, CATEGORY, REGISTERDATE, UPDATEDATE, I.SAVINGLEVEL_ID, SL.NAME SAVINGLEVELNAME, COUNT(U.ID) COUNT_OF_USER
        FROM ITEM I LEFT OUTER JOIN SAVINGLEVEL SL
        ON SL.ID = I.SAVINGLEVEL_ID
        LEFT OUTER JOIN ORDERS O
        ON O.ITEM_ID = I.ID
        LEFT OUTER JOIN USERS U
        ON O.USER_ID = U.ID
        GROUP BY I.ID, I.NAME, PRICE, CURRENT_STOCK, ORIGIN_STOCK, I.STATUS, BRAND, CATEGORY, REGISTERDATE, UPDATEDATE, I.SAVINGLEVEL_ID, SL.NAME
    </select>
    <!--열매샵 제품 상세 보기 : readDetail.html-->
    <select id="select" resultType="itemDTO">
        SELECT I.ID, I.NAME, PRICE, CURRENT_STOCK, ORIGIN_STOCK, I.STATUS, BRAND, CATEGORY, REGISTERDATE, UPDATEDATE, I.SAVINGLEVEL_ID, SL.NAME SAVINGLEVELNAME
        FROM SAVINGLEVEL SL JOIN ITEM I
        ON I.SAVINGLEVEL_ID = SL.ID AND I.ID = #{id}
    </select>
</mapper>
