<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tikkeul.app.mapper.SavingLevelMapper">
    <insert id="insertSavingLevel">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_SAVINGLEVEL.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO SAVINGLEVEL (ID, NAME, GOAL_MONEY, DAILY_MONEY)
        VALUES(#{id}, #{name}, #{goalMoney}, #{dailyMoney})
    </insert>

    <select id="adminSelectSavingLevelAll" resultType="savingLevelVO">
        SELECT ID, NAME, GOAL_MONEY, DAILY_MONEY
        FROM SAVINGLEVEL
    </select>

    <select id="adminSelectSavingLevel" resultType="savingLevelDTO">
        SELECT ID, NAME, GOAL_MONEY, DAILY_MONEY
        FROM SAVINGLEVEL
        WHERE ID = #{id}
    </select>

    <update id="adminUpdateSavingLevel">
        UPDATE SAVINGLEVEL
        SET NAME = #{name} , GOAL_MONEY = #{goalMoney} , DAILY_MONEY = #{dailyMoney}
        WHERE ID = #{id}
    </update>
    
    <delete id="adminDeleteSavingLevel">
        DELETE FROM SAVINGLEVEL
        WHERE ID = #{id}
    </delete>

</mapper>