<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tikkeul.app.mapper.UserMapper">

    <select id="adminSelectUserAll" resultType="userVO">
        SELECT ID, NAME , IDENTIFICATION, ADDRESS, PHONENUMBER
        FROM USERS
    </select>

    <select id="selectByUserId" resultType="UserVO">
    SELECT ID, IDENTIFICATION, PASSWORD, NAME, PHONENUMBER, ADDRESS, STATUS, ROLL, CREATEDDATE, PROFILEIMAGENAME, PROFILEIMAGESIZE, PROFILEIMAGEUUID, SAVINGLEVEL_ID
    FROM USERS;

    </select>

<!--회원가입-->
    <insert id="insert">
    INSERT INTO USERS
    (ID, IDENTIFICATION, PASSWORD, NAME, PHONENUMBER, ADDRESS, STATUS, ROLL, CREATEDDATE, PROFILEIMAGENAME, PROFILEIMAGESIZE, PROFILEIMAGEUUID, SAVINGLEVEL_ID)
    VALUES(SEQ_USER.NEXTVAL, #{identification},#{password},#{name},#{phoneNumber},#{address},1,normal, SYSDATE,#{profileImageName},#{profileImageSize},#{profileImageUuid},#{levelId});
    </insert>


</mapper>